In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [4]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [5]:
!pip install --upgrade kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [6]:
!mkdir -p ~/.kaggle

In [7]:
!cp "/content/drive/My Drive/kaggle.json" /root/.kaggle/kaggle.json

In [8]:
!chmod 600 /root/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d uciml/autompg-dataset --force

Dataset URL: https://www.kaggle.com/datasets/uciml/autompg-dataset
License(s): CC0-1.0
Downloading autompg-dataset.zip to /content
  0% 0.00/6.31k [00:00<?, ?B/s]
100% 6.31k/6.31k [00:00<00:00, 12.4MB/s]

In [10]:
import os
folder_path = "/content/drive/My Drive/data"
os.makedirs(folder_path, exist_ok=True)

In [11]:
!unzip autompg-dataset.zip -d "/content/drive/My Drive/data"

Archive:  autompg-dataset.zip
replace /content/drive/My Drive/data/auto-mpg.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/drive/My Drive/data/auto-mpg.csv

In [12]:
import os
import warnings
warnings.filterwarnings('ignore')
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType
from pyspark.sql.functions import split, count, when, isnan, col, regexp_replace
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml.linalg import Vectors

for dirname, _, filenames in os.walk('/kaggle/input'):
  for filename in filenames:
    print(os.path.join(dirname, filename))

In [13]:
spark = SparkSession.builder.appName('First Session').getOrCreate()

print(f"Spark Version ({format(spark.version)})")

Spark Version (3.5.5)

In [105]:
file_path = '/content/drive/My Drive/data/auto-mpg.csv'
df = spark.read.csv(file_path, header=True, inferSchema=True,nanValue='?')
df.show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [15]:
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'double'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [16]:
def check_missing(dataframe):
  return dataframe.select([count(when(isnan(col(c)) | col(c).isNull(), c)).alias(c) for c in dataframe.columns]).show()

check_missing(df)

+---+---------+------------+----------+------+------------+----------+------+--------+
|mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|car name|
+---+---------+------------+----------+------+------------+----------+------+--------+
|  0|        0|           0|         6|     0|           0|         0|     0|       0|
+---+---------+------------+----------+------+------------+----------+------+--------+

In [89]:
df.dropna().show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [50]:
#col_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
#for col in col_names:
#  cols=col.split(sep=" ")
#  colums=''
#  for c in cols:
#    colums += c + "_"
#  print(colums)
#df = df.withColumnRenamed(col, colums)
#df.show()
df.show(10)
#df = df.withColumnRenamed('car name', regexp_replace('car name', ' ', '_'))
df.show()
#cols

AttributeError: 'list' object has no attribute 'replace'

In [22]:
#regexp_replace(col(df), ' ', '_')

In [23]:
df = df.withColumn('horsepower', col('horsepower').cast('int'))
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'int'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [24]:
numeric_cols= [c for c,t in df.dtypes if t.startswith('string')==False]
df[numeric_cols].summary().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|               mpg|         cylinders|      displacement|        horsepower|           weight|      acceleration|        model year|            origin|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|               398|               398|               398|               398|              398|               398|               398|               398|
|   mean|23.514572864321615| 5.454773869346734|193.42587939698493|102.89447236180905|2970.424623115578|15.568090452261291| 76.01005025125629|1.5728643216080402|
| stddev| 7.815984312565783|1.7010042445332123|104.26983817119587| 40.26954421185716|846.8417741973268| 2.757688929812676|3.6976266467325862|0.8020548777266148|
|    min|               9.0|                 3|              68.0|                 0|             1613|               8.0|                70|                 1|
|    25%|              17.5|                 4|             104.0|                75|             2223|              13.8|                73|                 1|
|    50%|              23.0|                 4|             146.0|                92|             2800|              15.5|                76|                 1|
|    75%|              29.0|                 8|             262.0|               125|             3609|              17.2|                79|                 2|
|    max|              46.6|                 8|             455.0|               230|             5140|              24.8|                82|                 3|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [25]:
df.printSchema()

root
 |-- mpg: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- model year: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- car name: string (nullable = true)

In [26]:
df.filter(df['acceleration']>15).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|        98.0|         0|  2046|        19.0|        71|     1|          ford pinto|
|16.0|        6|       225.0|       105|  3439|        15.5|        71|     1|plymouth satellit...|
|17.0|        6|       250.0|       100|  3329|        15.5|        71|     1|chevrolet chevell...|
|19.0|        6|       250.0|        88|  3302|        15.5|        71|     1|     ford torino 500|
|18.0|        6|       232.0|       100|  3288|        15.5|        71|     1|         amc matador|
|22.0|        4|       140.0|        72|  2408|        19.0|        71|     1| chevrolet vega (sw)|
|30.0|        4|        79.0|        70|  2074|        19.5|        71|     2|         peugeot 304|
|31.0|        4|        71.0|        65|  1773|        19.0|        71|     3| toyota corolla 1200|
|35.0|        4|        72.0|        69|  1613|        18.0|        71|     3|         datsun 1200|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        91.0|        70|  1955|        20.5|        71|     1|    plymouth cricket|
|24.0|        4|       113.0|        95|  2278|        15.5|        72|     3|toyota corona har...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [27]:
df.filter(df['mpg']>23).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|24.0|        4|       107.0|        90|  2430|        14.5|        70|     2|         audi 100 ls|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
|26.0|        4|       121.0|       113|  2234|        12.5|        70|     2|            bmw 2002|
|27.0|        4|        97.0|        88|  2130|        14.5|        71|     3|        datsun pl510|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|       113.0|        95|  2228|        14.0|        71|     3|       toyota corona|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [28]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [29]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [30]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [31]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [32]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort(col('mpg').desc()).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|38.0|        6|       262.0|        85|  3015|        17.0|        82|     1|oldsmobile cutlas...|
|37.0|        4|       119.0|        92|  2434|        15.0|        80|     3|datsun 510 hatchback|
|36.0|        4|       135.0|        84|  2370|        13.0|        82|     1|   dodge charger 2.2|
|36.0|        4|       120.0|        88|  2160|        14.5|        82|     3|    nissan stanza xe|
|35.0|        4|       122.0|        88|  2500|        15.1|        80|     2|   triumph tr7 coupe|
|34.0|        4|       112.0|        88|  2395|        18.0|        82|     1|chevrolet cavalie...|
|33.5|        4|        98.0|        83|  2075|        15.9|        77|     1|      dodge colt m/m|
|33.5|        4|       151.0|        90|  2556|        13.2|        79|     1|     pontiac phoenix|
|32.9|        4|       119.0|       100|  2615|        14.8|        81|     3|        datsun 200sx|
|32.7|        6|       168.0|       132|  2910|        11.4|        80|     3|       datsun 280-zx|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [33]:
df.sort('model year').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [34]:
df.filter(col("car name").contains("volkswagen")).orderBy(['model year','horsepower'],ascending=[False,False]).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|36.0|        4|       105.0|        74|  1980|        15.3|        82|     2| volkswagen rabbit l|
|33.0|        4|       105.0|        74|  2190|        14.2|        81|     2|    volkswagen jetta|
|31.5|        4|        89.0|        71|  1990|        14.9|        78|     2| volkswagen scirocco|
|43.1|        4|        90.0|        48|  1985|        21.5|        78|     2|volkswagen rabbit...|
|29.0|        4|        97.0|        78|  1940|        14.5|        77|     2|volkswagen rabbit...|
|30.5|        4|        97.0|        78|  2190|        14.1|        77|     2|   volkswagen dasher|
|29.5|        4|        97.0|        71|  1825|        12.2|        76|     2|   volkswagen rabbit|
|25.0|        4|        90.0|        71|  2223|        16.5|        75|     2|   volkswagen dasher|
|29.0|        4|        90.0|        70|  1937|        14.0|        75|     2|   volkswagen rabbit|
|26.0|        4|        79.0|        67|  1963|        15.5|        74|     2|   volkswagen dasher|
|26.0|        4|        97.0|        46|  1950|        21.0|        73|     2|volkswagen super ...|
|22.0|        4|       121.0|        76|  2511|        18.0|        72|     2| volkswagen 411 (sw)|
|23.0|        4|        97.0|        54|  2254|        23.5|        72|     2|   volkswagen type 3|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+

In [106]:
df =df.withColumn('brand',split(col('car name'),' ').getItem(0))

auto_misspelled = {'chevroelt':'chevrolet',
                   'chevy':'chevrolet',
                   'vw':'volkswagan',
                   'volkswagen':'volkswagan',
                   'vokswagen':'volkswagan',
                   'toyouta':'toyota',
                   'hi':'harvester',
                   'maxda':'mazda',
                   'mercedes-benz':'mercedes'}

for key in auto_misspelled.keys():
  df = df.withColumn('brand', regexp_replace('brand', key, auto_misspelled[key]))
df.show(20)

+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|     brand|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...| chevrolet|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|     buick|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|  plymouth|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|       amc|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|      ford|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|      ford|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala| chevrolet|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|  plymouth|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|   pontiac|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|       amc|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|     dodge|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|  plymouth|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...| chevrolet|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|     buick|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|    toyota|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|  plymouth|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|       amc|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|      ford|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|    datsun|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|volkswagan|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
only showing top 20 rows

In [43]:

df.groupBy('brand').agg({'acceleration':'mean'}).withColumnRenamed('avg(acceleration)','Avg acceleration').show(10)

+----------+------------------+
|     brand|  Avg acceleration|
+----------+------------------+
|volkswagan|17.504761904761903|
|     buick|14.700000000000003|
|   pontiac|14.081249999999999|
|  mercedes| 19.53333333333333|
|    toyota|16.099999999999998|
|      saab|            15.175|
|       amc|15.264285714285716|
|   peugeot|             19.55|
|  chrysler|13.300000000000002|
|  plymouth|14.851612903225801|
+----------+------------------+
only showing top 10 rows

In [36]:
df.groupBy('brand').agg({'mpg':'max'}).show(10)

+----------+--------+
|     brand|max(mpg)|
+----------+--------+
|volkswagan|    44.3|
|     buick|    30.0|
|   pontiac|    33.5|
|  mercedes|    30.0|
|    toyota|    39.1|
|      saab|    25.0|
|       amc|    27.4|
|   peugeot|    30.0|
|  chrysler|    26.0|
|  plymouth|    39.0|
+----------+--------+
only showing top 10 rows

In [40]:
df.groupBy('brand').agg({'acceleration':'mean'}).show(10)

+----------+------------------+
|     brand| avg(acceleration)|
+----------+------------------+
|volkswagan|17.504761904761903|
|     buick|14.700000000000003|
|   pontiac|14.081249999999999|
|  mercedes| 19.53333333333333|
|    toyota|16.099999999999998|
|      saab|            15.175|
|       amc|15.264285714285716|
|   peugeot|             19.55|
|  chrysler|13.300000000000002|
|  plymouth|14.851612903225801|
+----------+------------------+
only showing top 10 rows

In [107]:
# prompt: command to generate unique values in brand

#from pyspark.sql.functions import countDistinct

# Assuming 'df' is your DataFrame as defined in the previous code

#distinct_brands = df.select(countDistinct("brand")).collect()[0][0]
#print(f"Number of distinct brands: {distinct_brands}")
#df.select("brand").distinct().show(distinct_brands)
#df.select('brand').distinct().show()


def one_hot_encode(df, categorical_col):
  # Create a StringIndexer
  indexed = StringIndexer().setInputCol(categorical_col).setOutputCol(categorical_col + "_cat").fit(df).transform(df)
  # Create a OneHotEncoder
  encoder = OneHotEncoder().setInputCol(categorical_col + "_cat").setOutputCol(categorical_col + "_OneHotEncoder").fit(indexed).transform(indexed)

  ohe = encoder#.drop(*[categorical_col, categorical_col + '_cat'])

  return ohe

df = one_hot_encode(df, 'brand')

In [108]:
df.show(50)

+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+---------+-------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|     brand|brand_cat|brand_OneHotEncoder|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+---------+-------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...| chevrolet|      1.0|     (29,[1],[1.0])|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|     buick|      8.0|     (29,[8],[1.0])|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|  plymouth|      2.0|     (29,[2],[1.0])|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|       amc|      3.0|     (29,[3],[1.0])|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|      ford|      0.0|     (29,[0],[1.0])|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|      ford|      0.0|     (29,[0],[1.0])|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala| chevrolet|      1.0|     (29,[1],[1.0])|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|  plymouth|      2.0|     (29,[2],[1.0])|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|   pontiac|      9.0|     (29,[9],[1.0])|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|       amc|      3.0|     (29,[3],[1.0])|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|     dodge|      4.0|     (29,[4],[1.0])|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|  plymouth|      2.0|     (29,[2],[1.0])|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...| chevrolet|      1.0|     (29,[1],[1.0])|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|     buick|      8.0|     (29,[8],[1.0])|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|    toyota|      5.0|     (29,[5],[1.0])|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|  plymouth|      2.0|     (29,[2],[1.0])|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|       amc|      3.0|     (29,[3],[1.0])|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|      ford|      0.0|     (29,[0],[1.0])|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|    datsun|      6.0|     (29,[6],[1.0])|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|volkswagan|      7.0|     (29,[7],[1.0])|
|25.0|        4|       110.0|      87.0|  2672|        17.5|        70|     2|         peugeot 504|   peugeot|     15.0|    (29,[15],[1.0])|
|24.0|        4|       107.0|      90.0|  2430|        14.5|        70|     2|         audi 100 ls|      audi|     16.0|    (29,[16],[1.0])|
|25.0|        4|       104.0|      95.0|  2375|        17.5|        70|     2|            saab 99e|      saab|     21.0|    (29,[21],[1.0])|
|26.0|        4|       121.0|     113.0|  2234|        12.5|        70|     2|            bmw 2002|       bmw|     24.0|    (29,[24],[1.0])|
|21.0|        6|       199.0|      90.0|  2648|        15.0|        70|     1|         amc gremlin|       amc|      3.0|     (29,[3],[1.0])|
|10.0|        8|       360.0|     215.0|  4615|        14.0|        70|     1|           ford f250|      ford|      0.0|     (29,[0],[1.0])|
|10.0|        8|       307.0|     200.0|  4376|        15.0|        70|     1|           chevy c20| chevrolet|      1.0|     (29,[1],[1.0])|
|11.0|        8|       318.0|     210.0|  4382|        13.5|        70|     1|          dodge d200|     dodge|      4.0|     (29,[4],[1.0])|
| 9.0|        8|       304.0|     193.0|  4732|        18.5|        70|     1|            hi 1200d| harvester|     27.0|    (29,[27],[1.0])|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        71|     3|        datsun pl510|    datsun|      6.0|     (29,[6],[1.0])|
|28.0|        4|       140.0|      90.0|  2264|        15.5|        71|     1| chevrolet vega 2300| chevrolet|      1.0|     (29,[1],[1.0])|
|25.0|        4|       113.0|      95.0|  2228|        14.0|        71|     3|       toyota corona|    toyota|      5.0|     (29,[5],[1.0])|
|25.0|        4|        98.0|       NaN|  2046|        19.0|        71|     1|          ford pinto|      ford|      0.0|     (29,[0],[1.0])|
|19.0|        6|       232.0|     100.0|  2634|        13.0|        71|     1|         amc gremlin|       amc|      3.0|     (29,[3],[1.0])|
|16.0|        6|       225.0|     105.0|  3439|        15.5|        71|     1|plymouth satellit...|  plymouth|      2.0|     (29,[2],[1.0])|
|17.0|        6|       250.0|     100.0|  3329|        15.5|        71|     1|chevrolet chevell...| chevrolet|      1.0|     (29,[1],[1.0])|
|19.0|        6|       250.0|      88.0|  3302|        15.5|        71|     1|     ford torino 500|      ford|      0.0|     (29,[0],[1.0])|
|18.0|        6|       232.0|     100.0|  3288|        15.5|        71|     1|         amc matador|       amc|      3.0|     (29,[3],[1.0])|
|14.0|        8|       350.0|     165.0|  4209|        12.0|        71|     1|    chevrolet impala| chevrolet|      1.0|     (29,[1],[1.0])|
|14.0|        8|       400.0|     175.0|  4464|        11.5|        71|     1|pontiac catalina ...|   pontiac|      9.0|     (29,[9],[1.0])|
|14.0|        8|       351.0|     153.0|  4154|        13.5|        71|     1|    ford galaxie 500|      ford|      0.0|     (29,[0],[1.0])|
|14.0|        8|       318.0|     150.0|  4096|        13.0|        71|     1|   plymouth fury iii|  plymouth|      2.0|     (29,[2],[1.0])|
|12.0|        8|       383.0|     180.0|  4955|        11.5|        71|     1|   dodge monaco (sw)|     dodge|      4.0|     (29,[4],[1.0])|
|13.0|        8|       400.0|     170.0|  4746|        12.0|        71|     1|ford country squi...|      ford|      0.0|     (29,[0],[1.0])|
|13.0|        8|       400.0|     175.0|  5140|        12.0|        71|     1| pontiac safari (sw)|   pontiac|      9.0|     (29,[9],[1.0])|
|18.0|        6|       258.0|     110.0|  2962|        13.5|        71|     1|amc hornet sporta...|       amc|      3.0|     (29,[3],[1.0])|
|22.0|        4|       140.0|      72.0|  2408|        19.0|        71|     1| chevrolet vega (sw)| chevrolet|      1.0|     (29,[1],[1.0])|
|19.0|        6|       250.0|     100.0|  3282|        15.0|        71|     1|    pontiac firebird|   pontiac|      9.0|     (29,[9],[1.0])|
|18.0|        6|       250.0|      88.0|  3139|        14.5|        71|     1|        ford mustang|      ford|      0.0|     (29,[0],[1.0])|
|23.0|        4|       122.0|      86.0|  2220|        14.0|        71|     1|  mercury capri 2000|   mercury|     12.0|    (29,[12],[1.0])|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+---------+-------------------+
only showing top 50 rows

In [109]:

distinct_brands = df.select('brand').distinct().count()
print(f"Number of distinct brands: {distinct_brands}")

df.select('brand').distinct().show(100,truncate=False)

Number of distinct brands: 30
+----------+
|brand     |
+----------+
|volkswagan|
|buick     |
|pontiac   |
|mercedes  |
|toyota    |
|saab      |
|amc       |
|peugeot   |
|chrysler  |
|plymouth  |
|audi      |
|datsun    |
|bmw       |
|dodge     |
|ford      |
|capri     |
|cadillac  |
|mazda     |
|harvester |
|chevrolet |
|opel      |
|honda     |
|fiat      |
|oldsmobile|
|mercury   |
|renault   |
|nissan    |
|triumph   |
|subaru    |
|volvo     |
+----------+

In [110]:
from pyspark.ml.feature import VectorAssembler

def vector_assembler(df,indep_cols):
  assembler = VectorAssembler(inputCols=indep_cols,
                              outputCol = 'features',
                              handleInvalid="skip")
  output = assembler.transform(df).drop(*indep_cols)
  return output

df = vector_assembler(df,indep_cols=df.drop('mpg','car name','brand','brand_cat').columns)

In [111]:
df.show(100,truncate=False)

+----+--------------------------------+----------+---------+------------------------------------------------------------------+
|mpg |car name                        |brand     |brand_cat|features                                                          |
+----+--------------------------------+----------+---------+------------------------------------------------------------------+
|18.0|chevrolet chevelle malibu       |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,307.0,130.0,3504.0,12.0,70.0,1.0,1.0]) |
|15.0|buick skylark 320               |buick     |8.0      |(36,[0,1,2,3,4,5,6,15],[8.0,350.0,165.0,3693.0,11.5,70.0,1.0,1.0])|
|18.0|plymouth satellite              |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,3436.0,11.0,70.0,1.0,1.0]) |
|16.0|amc rebel sst                   |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3433.0,12.0,70.0,1.0,1.0])|
|17.0|ford torino                     |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,302.0,140.0,3449.0,10.5,70.0,1.0,1.0]) |
|15.0|ford galaxie 500                |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,429.0,198.0,4341.0,10.0,70.0,1.0,1.0]) |
|14.0|chevrolet impala                |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,454.0,220.0,4354.0,9.0,70.0,1.0,1.0])  |
|14.0|plymouth fury iii               |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,440.0,215.0,4312.0,8.5,70.0,1.0,1.0])  |
|14.0|pontiac catalina                |pontiac   |9.0      |(36,[0,1,2,3,4,5,6,16],[8.0,455.0,225.0,4425.0,10.0,70.0,1.0,1.0])|
|15.0|amc ambassador dpl              |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,390.0,190.0,3850.0,8.5,70.0,1.0,1.0]) |
|15.0|dodge challenger se             |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[8.0,383.0,170.0,3563.0,10.0,70.0,1.0,1.0])|
|14.0|plymouth 'cuda 340              |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,340.0,160.0,3609.0,8.0,70.0,1.0,1.0])  |
|15.0|chevrolet monte carlo           |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,400.0,150.0,3761.0,9.5,70.0,1.0,1.0])  |
|14.0|buick estate wagon (sw)         |buick     |8.0      |(36,[0,1,2,3,4,5,6,15],[8.0,455.0,225.0,3086.0,10.0,70.0,1.0,1.0])|
|24.0|toyota corona mark ii           |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2372.0,15.0,70.0,3.0,1.0]) |
|22.0|plymouth duster                 |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[6.0,198.0,95.0,2833.0,15.5,70.0,1.0,1.0])  |
|18.0|amc hornet                      |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,199.0,97.0,2774.0,15.5,70.0,1.0,1.0]) |
|21.0|ford maverick                   |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[6.0,200.0,85.0,2587.0,16.0,70.0,1.0,1.0])  |
|27.0|datsun pl510                    |datsun    |6.0      |(36,[0,1,2,3,4,5,6,13],[4.0,97.0,88.0,2130.0,14.5,70.0,3.0,1.0])  |
|26.0|volkswagen 1131 deluxe sedan    |volkswagan|7.0      |(36,[0,1,2,3,4,5,6,14],[4.0,97.0,46.0,1835.0,20.5,70.0,2.0,1.0])  |
|25.0|peugeot 504                     |peugeot   |15.0     |(36,[0,1,2,3,4,5,6,22],[4.0,110.0,87.0,2672.0,17.5,70.0,2.0,1.0]) |
|24.0|audi 100 ls                     |audi      |16.0     |(36,[0,1,2,3,4,5,6,23],[4.0,107.0,90.0,2430.0,14.5,70.0,2.0,1.0]) |
|25.0|saab 99e                        |saab      |21.0     |(36,[0,1,2,3,4,5,6,28],[4.0,104.0,95.0,2375.0,17.5,70.0,2.0,1.0]) |
|26.0|bmw 2002                        |bmw       |24.0     |(36,[0,1,2,3,4,5,6,31],[4.0,121.0,113.0,2234.0,12.5,70.0,2.0,1.0])|
|21.0|amc gremlin                     |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,199.0,90.0,2648.0,15.0,70.0,1.0,1.0]) |
|10.0|ford f250                       |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,360.0,215.0,4615.0,14.0,70.0,1.0,1.0]) |
|10.0|chevy c20                       |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,307.0,200.0,4376.0,15.0,70.0,1.0,1.0]) |
|11.0|dodge d200                      |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[8.0,318.0,210.0,4382.0,13.5,70.0,1.0,1.0])|
|9.0 |hi 1200d                        |harvester |27.0     |(36,[0,1,2,3,4,5,6,34],[8.0,304.0,193.0,4732.0,18.5,70.0,1.0,1.0])|
|27.0|datsun pl510                    |datsun    |6.0      |(36,[0,1,2,3,4,5,6,13],[4.0,97.0,88.0,2130.0,14.5,71.0,3.0,1.0])  |
|28.0|chevrolet vega 2300             |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[4.0,140.0,90.0,2264.0,15.5,71.0,1.0,1.0])  |
|25.0|toyota corona                   |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2228.0,14.0,71.0,3.0,1.0]) |
|19.0|amc gremlin                     |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,2634.0,13.0,71.0,1.0,1.0])|
|16.0|plymouth satellite custom       |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[6.0,225.0,105.0,3439.0,15.5,71.0,1.0,1.0]) |
|17.0|chevrolet chevelle malibu       |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[6.0,250.0,100.0,3329.0,15.5,71.0,1.0,1.0]) |
|19.0|ford torino 500                 |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[6.0,250.0,88.0,3302.0,15.5,71.0,1.0,1.0])  |
|18.0|amc matador                     |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,3288.0,15.5,71.0,1.0,1.0])|
|14.0|chevrolet impala                |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,350.0,165.0,4209.0,12.0,71.0,1.0,1.0]) |
|14.0|pontiac catalina brougham       |pontiac   |9.0      |(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,4464.0,11.5,71.0,1.0,1.0])|
|14.0|ford galaxie 500                |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,351.0,153.0,4154.0,13.5,71.0,1.0,1.0]) |
|14.0|plymouth fury iii               |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4096.0,13.0,71.0,1.0,1.0]) |
|12.0|dodge monaco (sw)               |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[8.0,383.0,180.0,4955.0,11.5,71.0,1.0,1.0])|
|13.0|ford country squire (sw)        |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,400.0,170.0,4746.0,12.0,71.0,1.0,1.0]) |
|13.0|pontiac safari (sw)             |pontiac   |9.0      |(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,5140.0,12.0,71.0,1.0,1.0])|
|18.0|amc hornet sportabout (sw)      |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,258.0,110.0,2962.0,13.5,71.0,1.0,1.0])|
|22.0|chevrolet vega (sw)             |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[4.0,140.0,72.0,2408.0,19.0,71.0,1.0,1.0])  |
|19.0|pontiac firebird                |pontiac   |9.0      |(36,[0,1,2,3,4,5,6,16],[6.0,250.0,100.0,3282.0,15.0,71.0,1.0,1.0])|
|18.0|ford mustang                    |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[6.0,250.0,88.0,3139.0,14.5,71.0,1.0,1.0])  |
|23.0|mercury capri 2000              |mercury   |12.0     |(36,[0,1,2,3,4,5,6,19],[4.0,122.0,86.0,2220.0,14.0,71.0,1.0,1.0]) |
|28.0|opel 1900                       |opel      |20.0     |(36,[0,1,2,3,4,5,6,27],[4.0,116.0,90.0,2123.0,14.0,71.0,2.0,1.0]) |
|30.0|peugeot 304                     |peugeot   |15.0     |(36,[0,1,2,3,4,5,6,22],[4.0,79.0,70.0,2074.0,19.5,71.0,2.0,1.0])  |
|30.0|fiat 124b                       |fiat      |14.0     |(36,[0,1,2,3,4,5,6,21],[4.0,88.0,76.0,2065.0,14.5,71.0,2.0,1.0])  |
|31.0|toyota corolla 1200             |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,71.0,65.0,1773.0,19.0,71.0,3.0,1.0])  |
|35.0|datsun 1200                     |datsun    |6.0      |(36,[0,1,2,3,4,5,6,13],[4.0,72.0,69.0,1613.0,18.0,71.0,3.0,1.0])  |
|27.0|volkswagen model 111            |volkswagan|7.0      |(36,[0,1,2,3,4,5,6,14],[4.0,97.0,60.0,1834.0,19.0,71.0,2.0,1.0])  |
|26.0|plymouth cricket                |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[4.0,91.0,70.0,1955.0,20.5,71.0,1.0,1.0])   |
|24.0|toyota corona hardtop           |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2278.0,15.5,72.0,3.0,1.0]) |
|25.0|dodge colt hardtop              |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[4.0,97.5,80.0,2126.0,17.0,72.0,1.0,1.0])  |
|23.0|volkswagen type 3               |volkswagan|7.0      |(36,[0,1,2,3,4,5,6,14],[4.0,97.0,54.0,2254.0,23.5,72.0,2.0,1.0])  |
|20.0|chevrolet vega                  |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[4.0,140.0,90.0,2408.0,19.5,72.0,1.0,1.0])  |
|21.0|ford pinto runabout             |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[4.0,122.0,86.0,2226.0,16.5,72.0,1.0,1.0])  |
|13.0|chevrolet impala                |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,350.0,165.0,4274.0,12.0,72.0,1.0,1.0]) |
|14.0|pontiac catalina                |pontiac   |9.0      |(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,4385.0,12.0,72.0,1.0,1.0])|
|15.0|plymouth fury iii               |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4135.0,13.5,72.0,1.0,1.0]) |
|14.0|ford galaxie 500                |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,351.0,153.0,4129.0,13.0,72.0,1.0,1.0]) |
|17.0|amc ambassador sst              |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3672.0,11.5,72.0,1.0,1.0])|
|11.0|mercury marquis                 |mercury   |12.0     |(36,[0,1,2,3,4,5,6,19],[8.0,429.0,208.0,4633.0,11.0,72.0,1.0,1.0])|
|13.0|buick lesabre custom            |buick     |8.0      |(36,[0,1,2,3,4,5,6,15],[8.0,350.0,155.0,4502.0,13.5,72.0,1.0,1.0])|
|12.0|oldsmobile delta 88 royale      |oldsmobile|13.0     |(36,[0,1,2,3,4,5,6,20],[8.0,350.0,160.0,4456.0,13.5,72.0,1.0,1.0])|
|13.0|chrysler newport royal          |chrysler  |17.0     |(36,[0,1,2,3,4,5,6,24],[8.0,400.0,190.0,4422.0,12.5,72.0,1.0,1.0])|
|19.0|mazda rx2 coupe                 |mazda     |11.0     |(36,[0,1,2,3,4,5,6,18],[3.0,70.0,97.0,2330.0,13.5,72.0,3.0,1.0])  |
|15.0|amc matador (sw)                |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3892.0,12.5,72.0,1.0,1.0])|
|13.0|chevrolet chevelle concours (sw)|chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,307.0,130.0,4098.0,14.0,72.0,1.0,1.0]) |
|13.0|ford gran torino (sw)           |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,302.0,140.0,4294.0,16.0,72.0,1.0,1.0]) |
|14.0|plymouth satellite custom (sw)  |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4077.0,14.0,72.0,1.0,1.0]) |
|18.0|volvo 145e (sw)                 |volvo     |18.0     |(36,[0,1,2,3,4,5,6,25],[4.0,121.0,112.0,2933.0,14.5,72.0,2.0,1.0])|
|22.0|volkswagen 411 (sw)             |volkswagan|7.0      |(36,[0,1,2,3,4,5,6,14],[4.0,121.0,76.0,2511.0,18.0,72.0,2.0,1.0]) |
|21.0|peugeot 504 (sw)                |peugeot   |15.0     |(36,[0,1,2,3,4,5,6,22],[4.0,120.0,87.0,2979.0,19.5,72.0,2.0,1.0]) |
|26.0|renault 12 (sw)                 |renault   |19.0     |(36,[0,1,2,3,4,5,6,26],[4.0,96.0,69.0,2189.0,18.0,72.0,2.0,1.0])  |
|22.0|ford pinto (sw)                 |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[4.0,122.0,86.0,2395.0,16.0,72.0,1.0,1.0])  |
|28.0|datsun 510 (sw)                 |datsun    |6.0      |(36,[0,1,2,3,4,5,6,13],[4.0,97.0,92.0,2288.0,17.0,72.0,3.0,1.0])  |
|23.0|toyouta corona mark ii (sw)     |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,120.0,97.0,2506.0,14.5,72.0,3.0,1.0]) |
|28.0|dodge colt (sw)                 |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[4.0,98.0,80.0,2164.0,15.0,72.0,1.0,1.0])  |
|27.0|toyota corolla 1600 (sw)        |toyota    |5.0      |(36,[0,1,2,3,4,5,6,12],[4.0,97.0,88.0,2100.0,16.5,72.0,3.0,1.0])  |
|13.0|buick century 350               |buick     |8.0      |(36,[0,1,2,3,4,5,6,15],[8.0,350.0,175.0,4100.0,13.0,73.0,1.0,1.0])|
|14.0|amc matador                     |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3672.0,11.5,73.0,1.0,1.0])|
|13.0|chevrolet malibu                |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,350.0,145.0,3988.0,13.0,73.0,1.0,1.0]) |
|14.0|ford gran torino                |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,302.0,137.0,4042.0,14.5,73.0,1.0,1.0]) |
|15.0|dodge coronet custom            |dodge     |4.0      |(36,[0,1,2,3,4,5,6,11],[8.0,318.0,150.0,3777.0,12.5,73.0,1.0,1.0])|
|12.0|mercury marquis brougham        |mercury   |12.0     |(36,[0,1,2,3,4,5,6,19],[8.0,429.0,198.0,4952.0,11.5,73.0,1.0,1.0])|
|13.0|chevrolet caprice classic       |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[8.0,400.0,150.0,4464.0,12.0,73.0,1.0,1.0]) |
|13.0|ford ltd                        |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[8.0,351.0,158.0,4363.0,13.0,73.0,1.0,1.0]) |
|14.0|plymouth fury gran sedan        |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4237.0,14.5,73.0,1.0,1.0]) |
|13.0|chrysler new yorker brougham    |chrysler  |17.0     |(36,[0,1,2,3,4,5,6,24],[8.0,440.0,215.0,4735.0,11.0,73.0,1.0,1.0])|
|12.0|buick electra 225 custom        |buick     |8.0      |(36,[0,1,2,3,4,5,6,15],[8.0,455.0,225.0,4951.0,11.0,73.0,1.0,1.0])|
|13.0|amc ambassador brougham         |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[8.0,360.0,175.0,3821.0,11.0,73.0,1.0,1.0])|
|18.0|plymouth valiant                |plymouth  |2.0      |(36,[0,1,2,3,4,5,6,9],[6.0,225.0,105.0,3121.0,16.5,73.0,1.0,1.0]) |
|16.0|chevrolet nova custom           |chevrolet |1.0      |(36,[0,1,2,3,4,5,6,8],[6.0,250.0,100.0,3278.0,18.0,73.0,1.0,1.0]) |
|18.0|amc hornet                      |amc       |3.0      |(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,2945.0,16.0,73.0,1.0,1.0])|
|18.0|ford maverick                   |ford      |0.0      |(36,[0,1,2,3,4,5,6,7],[6.0,250.0,88.0,3021.0,16.5,73.0,1.0,1.0])  |
+----+--------------------------------+----------+---------+------------------------------------------------------------------+
only showing top 100 rows