In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [4]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [5]:
!pip install --upgrade kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Collecting kaggle
  Downloading kaggle-1.7.4.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.4.1)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.25.6)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle) (0.5.1)
Downloading kaggle-1.7.4.2-py3-none-any.whl (173 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 173.2/173.2 kB 3.7 MB/s eta 0:00:00
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.6.17
    Uninstalling kaggle-1.6.17:
      Successfully uninstalled kaggle-1.6.17
Successfully installed kaggle-1.7.4.2

In [6]:
!mkdir -p ~/.kaggle

In [7]:
!cp "/content/drive/My Drive/kaggle.json" /root/.kaggle/kaggle.json

In [8]:
!chmod 600 /root/.kaggle/kaggle.json

In [9]:
!kaggle datasets download -d uciml/autompg-dataset --force

Dataset URL: https://www.kaggle.com/datasets/uciml/autompg-dataset
License(s): CC0-1.0
Downloading autompg-dataset.zip to /content
  0% 0.00/6.31k [00:00<?, ?B/s]
100% 6.31k/6.31k [00:00<00:00, 21.0MB/s]

In [10]:
import os
folder_path = "/content/drive/My Drive/data"
os.makedirs(folder_path, exist_ok=True)

In [11]:
!unzip autompg-dataset.zip -d "/content/drive/My Drive/data"

Archive:  autompg-dataset.zip
replace /content/drive/My Drive/data/auto-mpg.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/drive/My Drive/data/auto-mpg.csv

In [12]:
import os
import warnings
warnings.filterwarnings('ignore')
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType
from pyspark.sql.functions import split, count, when, isnan, col, regexp_replace
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml.linalg import Vectors

for dirname, _, filenames in os.walk('/kaggle/input'):
  for filename in filenames:
    print(os.path.join(dirname, filename))

In [13]:
spark = SparkSession.builder.appName('First Session').getOrCreate()

print(f"Spark Version ({format(spark.version)})")

Spark Version (3.5.5)

In [14]:
file_path = '/content/drive/My Drive/data/auto-mpg.csv'
df = spark.read.csv(file_path, header=True, inferSchema=True,nanValue='?')
df.show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [15]:
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'double'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [16]:
def check_missing(dataframe):
  return dataframe.select([count(when(isnan(col(c)) | col(c).isNull(), c)).alias(c) for c in dataframe.columns]).show()

#check_missing(df)

In [17]:
df.dropna().show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [18]:
#col_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
#for col in col_names:
#  cols=col.split(sep=" ")
#  colums=''
#  for c in cols:
#    colums += c + "_"
#  print(colums)
#df = df.withColumnRenamed(col, colums)
#df.show()
df.show(10)
#df = df.withColumnRenamed('car name', regexp_replace('car name', ' ', '_'))
df.show()
#cols

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [19]:
#regexp_replace(col(df), ' ', '_')

In [20]:
df = df.withColumn('horsepower', col('horsepower').cast('int'))
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'int'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [21]:
numeric_cols= [c for c,t in df.dtypes if t.startswith('string')==False]
df[numeric_cols].summary().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|               mpg|         cylinders|      displacement|        horsepower|           weight|      acceleration|        model year|            origin|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|               398|               398|               398|               398|              398|               398|               398|               398|
|   mean|23.514572864321615| 5.454773869346734|193.42587939698493|102.89447236180905|2970.424623115578|15.568090452261291| 76.01005025125629|1.5728643216080402|
| stddev| 7.815984312565783|1.7010042445332123|104.26983817119587| 40.26954421185716|846.8417741973268| 2.757688929812676|3.6976266467325862|0.8020548777266148|
|    min|               9.0|                 3|              68.0|                 0|             1613|               8.0|                70|                 1|
|    25%|              17.5|                 4|             104.0|                75|             2223|              13.8|                73|                 1|
|    50%|              23.0|                 4|             146.0|                92|             2800|              15.5|                76|                 1|
|    75%|              29.0|                 8|             262.0|               125|             3609|              17.2|                79|                 2|
|    max|              46.6|                 8|             455.0|               230|             5140|              24.8|                82|                 3|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [22]:
df.printSchema()

root
 |-- mpg: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- model year: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- car name: string (nullable = true)

In [23]:
df.filter(df['acceleration']>15).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|        98.0|         0|  2046|        19.0|        71|     1|          ford pinto|
|16.0|        6|       225.0|       105|  3439|        15.5|        71|     1|plymouth satellit...|
|17.0|        6|       250.0|       100|  3329|        15.5|        71|     1|chevrolet chevell...|
|19.0|        6|       250.0|        88|  3302|        15.5|        71|     1|     ford torino 500|
|18.0|        6|       232.0|       100|  3288|        15.5|        71|     1|         amc matador|
|22.0|        4|       140.0|        72|  2408|        19.0|        71|     1| chevrolet vega (sw)|
|30.0|        4|        79.0|        70|  2074|        19.5|        71|     2|         peugeot 304|
|31.0|        4|        71.0|        65|  1773|        19.0|        71|     3| toyota corolla 1200|
|35.0|        4|        72.0|        69|  1613|        18.0|        71|     3|         datsun 1200|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        91.0|        70|  1955|        20.5|        71|     1|    plymouth cricket|
|24.0|        4|       113.0|        95|  2278|        15.5|        72|     3|toyota corona har...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [24]:
df.filter(df['mpg']>23).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|24.0|        4|       107.0|        90|  2430|        14.5|        70|     2|         audi 100 ls|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
|26.0|        4|       121.0|       113|  2234|        12.5|        70|     2|            bmw 2002|
|27.0|        4|        97.0|        88|  2130|        14.5|        71|     3|        datsun pl510|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|       113.0|        95|  2228|        14.0|        71|     3|       toyota corona|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [25]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [26]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [27]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [28]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [29]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort(col('mpg').desc()).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|38.0|        6|       262.0|        85|  3015|        17.0|        82|     1|oldsmobile cutlas...|
|37.0|        4|       119.0|        92|  2434|        15.0|        80|     3|datsun 510 hatchback|
|36.0|        4|       135.0|        84|  2370|        13.0|        82|     1|   dodge charger 2.2|
|36.0|        4|       120.0|        88|  2160|        14.5|        82|     3|    nissan stanza xe|
|35.0|        4|       122.0|        88|  2500|        15.1|        80|     2|   triumph tr7 coupe|
|34.0|        4|       112.0|        88|  2395|        18.0|        82|     1|chevrolet cavalie...|
|33.5|        4|        98.0|        83|  2075|        15.9|        77|     1|      dodge colt m/m|
|33.5|        4|       151.0|        90|  2556|        13.2|        79|     1|     pontiac phoenix|
|32.9|        4|       119.0|       100|  2615|        14.8|        81|     3|        datsun 200sx|
|32.7|        6|       168.0|       132|  2910|        11.4|        80|     3|       datsun 280-zx|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [30]:
df.sort('model year').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [31]:
df.filter(col("car name").contains("volkswagen")).orderBy(['model year','horsepower'],ascending=[False,False]).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|36.0|        4|       105.0|        74|  1980|        15.3|        82|     2| volkswagen rabbit l|
|33.0|        4|       105.0|        74|  2190|        14.2|        81|     2|    volkswagen jetta|
|31.5|        4|        89.0|        71|  1990|        14.9|        78|     2| volkswagen scirocco|
|43.1|        4|        90.0|        48|  1985|        21.5|        78|     2|volkswagen rabbit...|
|29.0|        4|        97.0|        78|  1940|        14.5|        77|     2|volkswagen rabbit...|
|30.5|        4|        97.0|        78|  2190|        14.1|        77|     2|   volkswagen dasher|
|29.5|        4|        97.0|        71|  1825|        12.2|        76|     2|   volkswagen rabbit|
|25.0|        4|        90.0|        71|  2223|        16.5|        75|     2|   volkswagen dasher|
|29.0|        4|        90.0|        70|  1937|        14.0|        75|     2|   volkswagen rabbit|
|26.0|        4|        79.0|        67|  1963|        15.5|        74|     2|   volkswagen dasher|
|26.0|        4|        97.0|        46|  1950|        21.0|        73|     2|volkswagen super ...|
|22.0|        4|       121.0|        76|  2511|        18.0|        72|     2| volkswagen 411 (sw)|
|23.0|        4|        97.0|        54|  2254|        23.5|        72|     2|   volkswagen type 3|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+

In [32]:
df =df.withColumn('brand',split(col('car name'),' ').getItem(0))

auto_misspelled = {'chevroelt':'chevrolet',
                   'chevy':'chevrolet',
                   'vw':'volkswagan',
                   'volkswagen':'volkswagan',
                   'vokswagen':'volkswagan',
                   'toyouta':'toyota',
                   'hi':'harvester',
                   'maxda':'mazda',
                   'mercedes-benz':'mercedes'}

for key in auto_misspelled.keys():
  df = df.withColumn('brand', regexp_replace('brand', key, auto_misspelled[key]))
df.show(20)

+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|     brand|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...| chevrolet|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|     buick|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|  plymouth|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|       amc|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|      ford|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|      ford|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala| chevrolet|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|  plymouth|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|   pontiac|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|       amc|
|15.0|        8|       383.0|       170|  3563|        10.0|        70|     1| dodge challenger se|     dodge|
|14.0|        8|       340.0|       160|  3609|         8.0|        70|     1|  plymouth 'cuda 340|  plymouth|
|15.0|        8|       400.0|       150|  3761|         9.5|        70|     1|chevrolet monte c...| chevrolet|
|14.0|        8|       455.0|       225|  3086|        10.0|        70|     1|buick estate wago...|     buick|
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|    toyota|
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|  plymouth|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|       amc|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|      ford|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|    datsun|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|volkswagan|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
only showing top 20 rows

In [33]:

df.groupBy('brand').agg({'acceleration':'mean'}).withColumnRenamed('avg(acceleration)','Avg acceleration').show(10)

+----------+------------------+
|     brand|  Avg acceleration|
+----------+------------------+
|volkswagan|17.404545454545453|
|     buick|14.700000000000003|
|   pontiac|14.081249999999999|
|  mercedes| 19.53333333333333|
|    toyota| 16.03846153846154|
|      saab|            15.175|
|       amc|15.264285714285716|
|   peugeot|             19.55|
|  chrysler|13.300000000000002|
|  plymouth|14.851612903225801|
+----------+------------------+
only showing top 10 rows

In [34]:
df.groupBy('brand').agg({'mpg':'max'}).show(10)

+----------+--------+
|     brand|max(mpg)|
+----------+--------+
|volkswagan|    44.3|
|     buick|    30.0|
|   pontiac|    33.5|
|  mercedes|    30.0|
|    toyota|    39.1|
|      saab|    25.0|
|       amc|    27.4|
|   peugeot|    30.0|
|  chrysler|    26.0|
|  plymouth|    39.0|
+----------+--------+
only showing top 10 rows

In [35]:
df.groupBy('brand').agg({'acceleration':'mean'}).show(10)

+----------+------------------+
|     brand| avg(acceleration)|
+----------+------------------+
|volkswagan|17.404545454545453|
|     buick|14.700000000000003|
|   pontiac|14.081249999999999|
|  mercedes| 19.53333333333333|
|    toyota| 16.03846153846154|
|      saab|            15.175|
|       amc|15.264285714285716|
|   peugeot|             19.55|
|  chrysler|13.300000000000002|
|  plymouth|14.851612903225801|
+----------+------------------+
only showing top 10 rows

In [36]:
distinct_brands = df.select('brand').distinct().count()
print(f"Number of distinct brands: {distinct_brands}")

df.select('brand').distinct().show(100,truncate=False)

Number of distinct brands: 30
+----------+
|brand     |
+----------+
|volkswagan|
|buick     |
|pontiac   |
|mercedes  |
|toyota    |
|saab      |
|amc       |
|peugeot   |
|chrysler  |
|plymouth  |
|audi      |
|datsun    |
|bmw       |
|dodge     |
|ford      |
|capri     |
|cadillac  |
|mazda     |
|harvester |
|chevrolet |
|opel      |
|honda     |
|fiat      |
|oldsmobile|
|mercury   |
|renault   |
|nissan    |
|triumph   |
|subaru    |
|volvo     |
+----------+

In [37]:
# prompt: command to generate unique values in brand

#from pyspark.sql.functions import countDistinct

# Assuming 'df' is your DataFrame as defined in the previous code

#distinct_brands = df.select(countDistinct("brand")).collect()[0][0]
#print(f"Number of distinct brands: {distinct_brands}")
#df.select("brand").distinct().show(distinct_brands)
#df.select('brand').distinct().show()


def one_hot_encode(df, categorical_col):
  # Create a StringIndexer
  indexed = StringIndexer().setInputCol(categorical_col).setOutputCol(categorical_col + "_cat").fit(df).transform(df)
  # Create a OneHotEncoder
  encoder = OneHotEncoder().setInputCol(categorical_col + "_cat").setOutputCol(categorical_col + "_OneHotEncoder").fit(indexed).transform(indexed)

  ohe = encoder.drop(*[categorical_col, categorical_col + '_cat'])

  return ohe

df = one_hot_encode(df, 'brand')

In [38]:
df.show(50)

+----+---------+------------+----------+------+------------+----------+------+--------------------+-------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|brand_OneHotEncoder|
+----+---------+------------+----------+------+------------+----------+------+--------------------+-------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|     (29,[1],[1.0])|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|     (29,[8],[1.0])|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|     (29,[2],[1.0])|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|     (29,[3],[1.0])|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|     (29,[0],[1.0])|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|     (29,[0],[1.0])|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|     (29,[1],[1.0])|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|     (29,[2],[1.0])|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|     (29,[9],[1.0])|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|     (29,[3],[1.0])|
|15.0|        8|       383.0|       170|  3563|        10.0|        70|     1| dodge challenger se|     (29,[4],[1.0])|
|14.0|        8|       340.0|       160|  3609|         8.0|        70|     1|  plymouth 'cuda 340|     (29,[2],[1.0])|
|15.0|        8|       400.0|       150|  3761|         9.5|        70|     1|chevrolet monte c...|     (29,[1],[1.0])|
|14.0|        8|       455.0|       225|  3086|        10.0|        70|     1|buick estate wago...|     (29,[8],[1.0])|
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|     (29,[5],[1.0])|
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|     (29,[2],[1.0])|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|     (29,[3],[1.0])|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|     (29,[0],[1.0])|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|     (29,[6],[1.0])|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|     (29,[7],[1.0])|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|    (29,[15],[1.0])|
|24.0|        4|       107.0|        90|  2430|        14.5|        70|     2|         audi 100 ls|    (29,[16],[1.0])|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|    (29,[21],[1.0])|
|26.0|        4|       121.0|       113|  2234|        12.5|        70|     2|            bmw 2002|    (29,[24],[1.0])|
|21.0|        6|       199.0|        90|  2648|        15.0|        70|     1|         amc gremlin|     (29,[3],[1.0])|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|     (29,[0],[1.0])|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|     (29,[1],[1.0])|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|     (29,[4],[1.0])|
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|    (29,[27],[1.0])|
|27.0|        4|        97.0|        88|  2130|        14.5|        71|     3|        datsun pl510|     (29,[6],[1.0])|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|     (29,[1],[1.0])|
|25.0|        4|       113.0|        95|  2228|        14.0|        71|     3|       toyota corona|     (29,[5],[1.0])|
|25.0|        4|        98.0|         0|  2046|        19.0|        71|     1|          ford pinto|     (29,[0],[1.0])|
|19.0|        6|       232.0|       100|  2634|        13.0|        71|     1|         amc gremlin|     (29,[3],[1.0])|
|16.0|        6|       225.0|       105|  3439|        15.5|        71|     1|plymouth satellit...|     (29,[2],[1.0])|
|17.0|        6|       250.0|       100|  3329|        15.5|        71|     1|chevrolet chevell...|     (29,[1],[1.0])|
|19.0|        6|       250.0|        88|  3302|        15.5|        71|     1|     ford torino 500|     (29,[0],[1.0])|
|18.0|        6|       232.0|       100|  3288|        15.5|        71|     1|         amc matador|     (29,[3],[1.0])|
|14.0|        8|       350.0|       165|  4209|        12.0|        71|     1|    chevrolet impala|     (29,[1],[1.0])|
|14.0|        8|       400.0|       175|  4464|        11.5|        71|     1|pontiac catalina ...|     (29,[9],[1.0])|
|14.0|        8|       351.0|       153|  4154|        13.5|        71|     1|    ford galaxie 500|     (29,[0],[1.0])|
|14.0|        8|       318.0|       150|  4096|        13.0|        71|     1|   plymouth fury iii|     (29,[2],[1.0])|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|     (29,[4],[1.0])|
|13.0|        8|       400.0|       170|  4746|        12.0|        71|     1|ford country squi...|     (29,[0],[1.0])|
|13.0|        8|       400.0|       175|  5140|        12.0|        71|     1| pontiac safari (sw)|     (29,[9],[1.0])|
|18.0|        6|       258.0|       110|  2962|        13.5|        71|     1|amc hornet sporta...|     (29,[3],[1.0])|
|22.0|        4|       140.0|        72|  2408|        19.0|        71|     1| chevrolet vega (sw)|     (29,[1],[1.0])|
|19.0|        6|       250.0|       100|  3282|        15.0|        71|     1|    pontiac firebird|     (29,[9],[1.0])|
|18.0|        6|       250.0|        88|  3139|        14.5|        71|     1|        ford mustang|     (29,[0],[1.0])|
|23.0|        4|       122.0|        86|  2220|        14.0|        71|     1|  mercury capri 2000|    (29,[12],[1.0])|
+----+---------+------------+----------+------+------------+----------+------+--------------------+-------------------+
only showing top 50 rows

In [39]:
df=df.drop('car name')
df.show(10)

+----+---------+------------+----------+------+------------+----------+------+-------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|brand_OneHotEncoder|
+----+---------+------------+----------+------+------------+----------+------+-------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|     (29,[1],[1.0])|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|     (29,[8],[1.0])|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|     (29,[2],[1.0])|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|     (29,[3],[1.0])|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|     (29,[0],[1.0])|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|     (29,[0],[1.0])|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|     (29,[1],[1.0])|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|     (29,[2],[1.0])|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|     (29,[9],[1.0])|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|     (29,[3],[1.0])|
+----+---------+------------+----------+------+------------+----------+------+-------------------+
only showing top 10 rows

In [40]:
from pyspark.ml.feature import VectorAssembler

def vector_assembler(df,indep_cols):
  assembler = VectorAssembler(inputCols=indep_cols,
                              outputCol = 'features',
                              handleInvalid="skip")
  output = assembler.transform(df).drop(*indep_cols)
  return output

df = vector_assembler(df,indep_cols=df.drop('mpg').columns)

In [41]:
df.show(100,truncate=False)

+----+------------------------------------------------------------------+
|mpg |features                                                          |
+----+------------------------------------------------------------------+
|18.0|(36,[0,1,2,3,4,5,6,8],[8.0,307.0,130.0,3504.0,12.0,70.0,1.0,1.0]) |
|15.0|(36,[0,1,2,3,4,5,6,15],[8.0,350.0,165.0,3693.0,11.5,70.0,1.0,1.0])|
|18.0|(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,3436.0,11.0,70.0,1.0,1.0]) |
|16.0|(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3433.0,12.0,70.0,1.0,1.0])|
|17.0|(36,[0,1,2,3,4,5,6,7],[8.0,302.0,140.0,3449.0,10.5,70.0,1.0,1.0]) |
|15.0|(36,[0,1,2,3,4,5,6,7],[8.0,429.0,198.0,4341.0,10.0,70.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,8],[8.0,454.0,220.0,4354.0,9.0,70.0,1.0,1.0])  |
|14.0|(36,[0,1,2,3,4,5,6,9],[8.0,440.0,215.0,4312.0,8.5,70.0,1.0,1.0])  |
|14.0|(36,[0,1,2,3,4,5,6,16],[8.0,455.0,225.0,4425.0,10.0,70.0,1.0,1.0])|
|15.0|(36,[0,1,2,3,4,5,6,10],[8.0,390.0,190.0,3850.0,8.5,70.0,1.0,1.0]) |
|15.0|(36,[0,1,2,3,4,5,6,11],[8.0,383.0,170.0,3563.0,10.0,70.0,1.0,1.0])|
|14.0|(36,[0,1,2,3,4,5,6,9],[8.0,340.0,160.0,3609.0,8.0,70.0,1.0,1.0])  |
|15.0|(36,[0,1,2,3,4,5,6,8],[8.0,400.0,150.0,3761.0,9.5,70.0,1.0,1.0])  |
|14.0|(36,[0,1,2,3,4,5,6,15],[8.0,455.0,225.0,3086.0,10.0,70.0,1.0,1.0])|
|24.0|(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2372.0,15.0,70.0,3.0,1.0]) |
|22.0|(36,[0,1,2,3,4,5,6,9],[6.0,198.0,95.0,2833.0,15.5,70.0,1.0,1.0])  |
|18.0|(36,[0,1,2,3,4,5,6,10],[6.0,199.0,97.0,2774.0,15.5,70.0,1.0,1.0]) |
|21.0|(36,[0,1,2,3,4,5,6,7],[6.0,200.0,85.0,2587.0,16.0,70.0,1.0,1.0])  |
|27.0|(36,[0,1,2,3,4,5,6,13],[4.0,97.0,88.0,2130.0,14.5,70.0,3.0,1.0])  |
|26.0|(36,[0,1,2,3,4,5,6,14],[4.0,97.0,46.0,1835.0,20.5,70.0,2.0,1.0])  |
|25.0|(36,[0,1,2,3,4,5,6,22],[4.0,110.0,87.0,2672.0,17.5,70.0,2.0,1.0]) |
|24.0|(36,[0,1,2,3,4,5,6,23],[4.0,107.0,90.0,2430.0,14.5,70.0,2.0,1.0]) |
|25.0|(36,[0,1,2,3,4,5,6,28],[4.0,104.0,95.0,2375.0,17.5,70.0,2.0,1.0]) |
|26.0|(36,[0,1,2,3,4,5,6,31],[4.0,121.0,113.0,2234.0,12.5,70.0,2.0,1.0])|
|21.0|(36,[0,1,2,3,4,5,6,10],[6.0,199.0,90.0,2648.0,15.0,70.0,1.0,1.0]) |
|10.0|(36,[0,1,2,3,4,5,6,7],[8.0,360.0,215.0,4615.0,14.0,70.0,1.0,1.0]) |
|10.0|(36,[0,1,2,3,4,5,6,8],[8.0,307.0,200.0,4376.0,15.0,70.0,1.0,1.0]) |
|11.0|(36,[0,1,2,3,4,5,6,11],[8.0,318.0,210.0,4382.0,13.5,70.0,1.0,1.0])|
|9.0 |(36,[0,1,2,3,4,5,6,34],[8.0,304.0,193.0,4732.0,18.5,70.0,1.0,1.0])|
|27.0|(36,[0,1,2,3,4,5,6,13],[4.0,97.0,88.0,2130.0,14.5,71.0,3.0,1.0])  |
|28.0|(36,[0,1,2,3,4,5,6,8],[4.0,140.0,90.0,2264.0,15.5,71.0,1.0,1.0])  |
|25.0|(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2228.0,14.0,71.0,3.0,1.0]) |
|25.0|(36,[0,1,3,4,5,6,7],[4.0,98.0,2046.0,19.0,71.0,1.0,1.0])          |
|19.0|(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,2634.0,13.0,71.0,1.0,1.0])|
|16.0|(36,[0,1,2,3,4,5,6,9],[6.0,225.0,105.0,3439.0,15.5,71.0,1.0,1.0]) |
|17.0|(36,[0,1,2,3,4,5,6,8],[6.0,250.0,100.0,3329.0,15.5,71.0,1.0,1.0]) |
|19.0|(36,[0,1,2,3,4,5,6,7],[6.0,250.0,88.0,3302.0,15.5,71.0,1.0,1.0])  |
|18.0|(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,3288.0,15.5,71.0,1.0,1.0])|
|14.0|(36,[0,1,2,3,4,5,6,8],[8.0,350.0,165.0,4209.0,12.0,71.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,4464.0,11.5,71.0,1.0,1.0])|
|14.0|(36,[0,1,2,3,4,5,6,7],[8.0,351.0,153.0,4154.0,13.5,71.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4096.0,13.0,71.0,1.0,1.0]) |
|12.0|(36,[0,1,2,3,4,5,6,11],[8.0,383.0,180.0,4955.0,11.5,71.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,7],[8.0,400.0,170.0,4746.0,12.0,71.0,1.0,1.0]) |
|13.0|(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,5140.0,12.0,71.0,1.0,1.0])|
|18.0|(36,[0,1,2,3,4,5,6,10],[6.0,258.0,110.0,2962.0,13.5,71.0,1.0,1.0])|
|22.0|(36,[0,1,2,3,4,5,6,8],[4.0,140.0,72.0,2408.0,19.0,71.0,1.0,1.0])  |
|19.0|(36,[0,1,2,3,4,5,6,16],[6.0,250.0,100.0,3282.0,15.0,71.0,1.0,1.0])|
|18.0|(36,[0,1,2,3,4,5,6,7],[6.0,250.0,88.0,3139.0,14.5,71.0,1.0,1.0])  |
|23.0|(36,[0,1,2,3,4,5,6,19],[4.0,122.0,86.0,2220.0,14.0,71.0,1.0,1.0]) |
|28.0|(36,[0,1,2,3,4,5,6,27],[4.0,116.0,90.0,2123.0,14.0,71.0,2.0,1.0]) |
|30.0|(36,[0,1,2,3,4,5,6,22],[4.0,79.0,70.0,2074.0,19.5,71.0,2.0,1.0])  |
|30.0|(36,[0,1,2,3,4,5,6,21],[4.0,88.0,76.0,2065.0,14.5,71.0,2.0,1.0])  |
|31.0|(36,[0,1,2,3,4,5,6,12],[4.0,71.0,65.0,1773.0,19.0,71.0,3.0,1.0])  |
|35.0|(36,[0,1,2,3,4,5,6,13],[4.0,72.0,69.0,1613.0,18.0,71.0,3.0,1.0])  |
|27.0|(36,[0,1,2,3,4,5,6,14],[4.0,97.0,60.0,1834.0,19.0,71.0,2.0,1.0])  |
|26.0|(36,[0,1,2,3,4,5,6,9],[4.0,91.0,70.0,1955.0,20.5,71.0,1.0,1.0])   |
|24.0|(36,[0,1,2,3,4,5,6,12],[4.0,113.0,95.0,2278.0,15.5,72.0,3.0,1.0]) |
|25.0|(36,[0,1,2,3,4,5,6,11],[4.0,97.5,80.0,2126.0,17.0,72.0,1.0,1.0])  |
|23.0|(36,[0,1,2,3,4,5,6,14],[4.0,97.0,54.0,2254.0,23.5,72.0,2.0,1.0])  |
|20.0|(36,[0,1,2,3,4,5,6,8],[4.0,140.0,90.0,2408.0,19.5,72.0,1.0,1.0])  |
|21.0|(36,[0,1,2,3,4,5,6,7],[4.0,122.0,86.0,2226.0,16.5,72.0,1.0,1.0])  |
|13.0|(36,[0,1,2,3,4,5,6,8],[8.0,350.0,165.0,4274.0,12.0,72.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,16],[8.0,400.0,175.0,4385.0,12.0,72.0,1.0,1.0])|
|15.0|(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4135.0,13.5,72.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,7],[8.0,351.0,153.0,4129.0,13.0,72.0,1.0,1.0]) |
|17.0|(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3672.0,11.5,72.0,1.0,1.0])|
|11.0|(36,[0,1,2,3,4,5,6,19],[8.0,429.0,208.0,4633.0,11.0,72.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,15],[8.0,350.0,155.0,4502.0,13.5,72.0,1.0,1.0])|
|12.0|(36,[0,1,2,3,4,5,6,20],[8.0,350.0,160.0,4456.0,13.5,72.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,24],[8.0,400.0,190.0,4422.0,12.5,72.0,1.0,1.0])|
|19.0|(36,[0,1,2,3,4,5,6,18],[3.0,70.0,97.0,2330.0,13.5,72.0,3.0,1.0])  |
|15.0|(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3892.0,12.5,72.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,8],[8.0,307.0,130.0,4098.0,14.0,72.0,1.0,1.0]) |
|13.0|(36,[0,1,2,3,4,5,6,7],[8.0,302.0,140.0,4294.0,16.0,72.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4077.0,14.0,72.0,1.0,1.0]) |
|18.0|(36,[0,1,2,3,4,5,6,25],[4.0,121.0,112.0,2933.0,14.5,72.0,2.0,1.0])|
|22.0|(36,[0,1,2,3,4,5,6,14],[4.0,121.0,76.0,2511.0,18.0,72.0,2.0,1.0]) |
|21.0|(36,[0,1,2,3,4,5,6,22],[4.0,120.0,87.0,2979.0,19.5,72.0,2.0,1.0]) |
|26.0|(36,[0,1,2,3,4,5,6,26],[4.0,96.0,69.0,2189.0,18.0,72.0,2.0,1.0])  |
|22.0|(36,[0,1,2,3,4,5,6,7],[4.0,122.0,86.0,2395.0,16.0,72.0,1.0,1.0])  |
|28.0|(36,[0,1,2,3,4,5,6,13],[4.0,97.0,92.0,2288.0,17.0,72.0,3.0,1.0])  |
|23.0|(36,[0,1,2,3,4,5,6,12],[4.0,120.0,97.0,2506.0,14.5,72.0,3.0,1.0]) |
|28.0|(36,[0,1,2,3,4,5,6,11],[4.0,98.0,80.0,2164.0,15.0,72.0,1.0,1.0])  |
|27.0|(36,[0,1,2,3,4,5,6,12],[4.0,97.0,88.0,2100.0,16.5,72.0,3.0,1.0])  |
|13.0|(36,[0,1,2,3,4,5,6,15],[8.0,350.0,175.0,4100.0,13.0,73.0,1.0,1.0])|
|14.0|(36,[0,1,2,3,4,5,6,10],[8.0,304.0,150.0,3672.0,11.5,73.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,8],[8.0,350.0,145.0,3988.0,13.0,73.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,7],[8.0,302.0,137.0,4042.0,14.5,73.0,1.0,1.0]) |
|15.0|(36,[0,1,2,3,4,5,6,11],[8.0,318.0,150.0,3777.0,12.5,73.0,1.0,1.0])|
|12.0|(36,[0,1,2,3,4,5,6,19],[8.0,429.0,198.0,4952.0,11.5,73.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,8],[8.0,400.0,150.0,4464.0,12.0,73.0,1.0,1.0]) |
|13.0|(36,[0,1,2,3,4,5,6,7],[8.0,351.0,158.0,4363.0,13.0,73.0,1.0,1.0]) |
|14.0|(36,[0,1,2,3,4,5,6,9],[8.0,318.0,150.0,4237.0,14.5,73.0,1.0,1.0]) |
|13.0|(36,[0,1,2,3,4,5,6,24],[8.0,440.0,215.0,4735.0,11.0,73.0,1.0,1.0])|
|12.0|(36,[0,1,2,3,4,5,6,15],[8.0,455.0,225.0,4951.0,11.0,73.0,1.0,1.0])|
|13.0|(36,[0,1,2,3,4,5,6,10],[8.0,360.0,175.0,3821.0,11.0,73.0,1.0,1.0])|
|18.0|(36,[0,1,2,3,4,5,6,9],[6.0,225.0,105.0,3121.0,16.5,73.0,1.0,1.0]) |
|16.0|(36,[0,1,2,3,4,5,6,8],[6.0,250.0,100.0,3278.0,18.0,73.0,1.0,1.0]) |
|18.0|(36,[0,1,2,3,4,5,6,10],[6.0,232.0,100.0,2945.0,16.0,73.0,1.0,1.0])|
+----+------------------------------------------------------------------+
only showing top 100 rows

In [42]:
train_data,test_data = df.randomSplit([0.8,0.2],seed=123)

print(f"Train data shape: {train_data.count()}, {len(train_data.columns)}")
print(f"Test data shape: {test_data.count()}, {len(test_data.columns)}")

Train data shape: 318, 2
Test data shape: 80, 2

In [43]:
lr = LinearRegression(featuresCol='features',labelCol='mpg',regParam=0.3,standardization=False)
lr_model = lr.fit(train_data)

In [44]:
def eval_model(model,test_data):
  print(model.__class__.__name__.center(70,'='))
  model_result = model.evaluate(test_data)
  print(f"RMSE: {model_result.rootMeanSquaredError}")
  print(f"R2: {model_result.r2}")
  print(f"MAE: {model_result.meanAbsoluteError}")
  print(f"MSE: {model_result.meanSquaredError}")
  print(f"Explained Variance: {model_result.explainedVariance}")
  print(70*'=')

eval_model(lr_model,test_data)

========================LinearRegressionModel=========================
RMSE: 3.412223445197354
R2: 0.7983309966898102
MAE: 2.461164491835024
MSE: 11.643268839954501
Explained Variance: 43.63256309984281
======================================================================

In [45]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
print(sc)

<SparkContext master=local[*] appName=First Session>

##RDDs

In [46]:
rdd = sc.emptyRDD()
rdd.isEmpty()
#print(rdd)

True

In [47]:
a = sc.parallelize([])
a.isEmpty()

True

In [48]:
mixRDD = sc.parallelize([True,[11,22,33,44,55],(10,20,30,40,50)],3)
mixRDD.collect()

[True, [11, 22, 33, 44, 55], (10, 20, 30, 40, 50)]

In [49]:
mixRDD.getNumPartitions()

3

In [50]:
mixRDD.glom().collect()

[[True], [[11, 22, 33, 44, 55]], [(10, 20, 30, 40, 50)]]

In [51]:
mixRDD.setName('MyRDD')

MyRDD ParallelCollectionRDD[189] at readRDDFromFile at PythonRDD.scala:289

In [52]:
import random
random.randint(1, 1000)

524

In [53]:
#a = sc.parallelize([random.randint(1, 6) for _ in range(20)],4)
a = sc.parallelize(range(1,1000),4)
print(a.getNumPartitions())
print("\n")
print(a.glom().take(4))
print("\n")
print(a.glom().min()) # to get min partitions data means first one partition(0)
print("\n")
print(a.glom().max()) # to get max partitions data means last one partition(3)

4


[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249], [250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499], [500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749], [750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249]


[750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [54]:
b = sc.parallelize([12,21,23,43,1,22,11,45,56])
print(b.takeOrdered(4))
print(b.takeOrdered(4,key = lambda x:-x))

[1, 11, 12, 21]
[56, 45, 43, 23]

In [55]:
a.glom().map(lambda x:max(x)).collect()

[249, 499, 749, 999]

In [56]:
for i in range(a.getNumPartitions()):
  print(f"Max of partition({i}) : {max(a.glom().collect()[i])}")
  print(f"Min of partition({i}) : {min(a.glom().collect()[i])}")

Max of partition(0) : 249
Min of partition(0) : 1
Max of partition(1) : 499
Min of partition(1) : 250
Max of partition(2) : 749
Min of partition(2) : 500
Max of partition(3) : 999
Min of partition(3) : 750

##Repartitioning and Coalesce

In [57]:
d= b.repartition(7)
d.getNumPartitions()

7

In [58]:
e = d.repartition(4)
e.getNumPartitions()

4

In [59]:
c=b
e = d.coalesce(2)
e.getNumPartitions()

2

In [88]:
file_path='/content/UberDatasetCleaned.csv'
df = spark.read.csv(file_path, header=True, inferSchema=True,nanValue='?')

In [62]:
df.show()

+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+
|start_date|start_hour|start_minute|  end_date|end_hour|end_minute|month|year|CATEGORY|            START|           STOP|     MILES|        PURPOSE|duration|           speed|      day| day_time|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+
|2016-01-01|        21|          11|2016-01-01|      21|        17|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  8.207634| Meal/Entertain|       6|        82.07634|   Friday|  Evening|
|2016-01-02|         1|          25|2016-01-02|       1|        37|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|    8.0467| Meal/Entertain|      12|         40.2335| Saturday|    Night|
|2016-01-02|        20|          25|2016-01-02|      20|        38|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.724832|Errand/Supplies|      13|35.6530707692308| Saturday|  Evening|
|2016-01-05|        17|          31|2016-01-05|      17|        45|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.563898|        Meeting|      14|32.4167057142857|  Tuesday|Afternoon|
|2016-01-06|        14|          42|2016-01-06|      15|        49|  Jan|2016|Business|      Fort Pierce|West Palm Beach|102.514958| Customer Visit|      67|        91.80444|Wednesday|Afternoon|
|2016-01-06|        17|          15|2016-01-06|      17|        19|  Jan|2016|Business|  West Palm Beach|West Palm Beach|  6.920162| Meal/Entertain|       4|       103.80243|Wednesday|Afternoon|
|2016-01-06|        17|          30|2016-01-06|      17|        35|  Jan|2016|Business|  West Palm Beach|     Palm Beach| 11.426314|        Meeting|       5|      137.115768|Wednesday|Afternoon|
|2016-01-07|        13|          27|2016-01-07|      13|        33|  Jan|2016|Business|             Cary|           Cary|  1.287472|        Meeting|       6|        12.87472| Thursday|Afternoon|
|2016-01-10|         8|           5|2016-01-10|       8|        25|  Jan|2016|Business|             Cary|    Morrisville| 13.357522|        Meeting|      20|       40.072566|   Sunday|  Morning|
|2016-01-10|        12|          17|2016-01-10|      12|        44|  Jan|2016|Business|          Jamaica|       New York|  26.55411| Customer Visit|      27|59.0091333333333|   Sunday|  Morning|
|2016-01-10|        15|           8|2016-01-10|      15|        51|  Jan|2016|Business|         New York|         Queens| 17.380872|        Meeting|      43|24.2523795348837|   Sunday|Afternoon|
|2016-01-10|        18|          18|2016-01-10|      18|        53|  Jan|2016|Business|         Elmhurst|       New York|  12.07005|        Meeting|      35|20.6915142857143|   Sunday|Afternoon|
|2016-01-10|        19|          12|2016-01-10|      19|        32|  Jan|2016|Business|          Midtown|    East Harlem|  9.977908|        Meeting|      20|       29.933724|   Sunday|  Evening|
|2016-01-11|         8|          55|2016-01-11|       9|        21|  Jan|2016|Business|      East Harlem|          NoMad| 10.299776| Temporary Site|      26|23.7687138461538|   Monday|  Morning|
|2016-01-11|        11|          56|2016-01-11|      12|         3|  Jan|2016|Business|Flatiron District|        Midtown|  2.574944|Errand/Supplies|       7|22.0709485714286|   Monday|  Morning|
|2016-01-11|        13|          32|2016-01-11|      13|        46|  Jan|2016|Business|          Midtown|   Midtown East|  2.735878| Meal/Entertain|      14|11.7251914285714|   Monday|Afternoon|
|2016-01-11|        14|          30|2016-01-11|      14|        43|  Jan|2016|Business|     Midtown East|        Midtown|  3.057746| Meal/Entertain|      13|14.1126738461538|   Monday|Afternoon|
|2016-01-12|        12|          33|2016-01-12|      12|        49|  Jan|2016|Business|          Midtown|  Hudson Square|  3.057746| Meal/Entertain|      16|      11.4665475|  Tuesday|  Morning|
|2016-01-12|        12|          53|2016-01-12|      13|         9|  Jan|2016|Business|    Hudson Square|Lower Manhattan|   6.43736| Meal/Entertain|      16|         24.1401|  Tuesday|  Morning|
|2016-01-12|        14|          42|2016-01-12|      14|        56|  Jan|2016|Business|  Lower Manhattan|  Hudson Square|  2.896812|Errand/Supplies|      14|12.4149085714286|  Tuesday|Afternoon|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+
only showing top 20 rows

In [63]:
def check_missing(dataframe):
  """
  Checks for missing values in each column of a DataFrame and displays the count.

  Args:
    dataframe: The input DataFrame.
  """
  # Iterate through columns and handle different data types
  for c in dataframe.columns:
    if dataframe.schema[c].dataType in [IntegerType(), FloatType()]:
      # Use isnan and isNull for numeric types
      missing_count = dataframe.select(count(when(isnan(col(c)) | col(c).isNull(), c))).first()[0]
      print(f"Missing values in column '{c}': {missing_count}")
    else:
      # Use isNull for non-numeric types
      missing_count = dataframe.select(count(when(col(c).isNull(), c))).first()[0]
      print(f"Missing values in column '{c}': {missing_count}")

check_missing(df)

Missing values in column 'start_date': 0
Missing values in column 'start_hour': 0
Missing values in column 'start_minute': 0
Missing values in column 'end_date': 0
Missing values in column 'end_hour': 0
Missing values in column 'end_minute': 0
Missing values in column 'month': 0
Missing values in column 'year': 0
Missing values in column 'CATEGORY': 0
Missing values in column 'START': 0
Missing values in column 'STOP': 0
Missing values in column 'MILES': 0
Missing values in column 'PURPOSE': 0
Missing values in column 'duration': 0
Missing values in column 'speed': 0
Missing values in column 'day': 0
Missing values in column 'day_time': 0

Q1. Identify most frequent travel routes\
Q2. Analyze peak travel hours\
Q3. find the longest business trips\
Q4. Find the avg speed bassed on daytime\
Q5. Identify most common travel apttern by day of te week\
Q6. analyze travel pattern by day of the week\
Q7. Find the best customer(who travel  more frequently than others)\
Q8. identify each customer most frequent start location\
Q9. Identify shortest business route\
Q10.

##Q1 Identify most frequent travel routes

In [89]:
from pyspark.sql.functions import concat, lit

df = df.withColumn('route', concat(df['START'], lit('-'), df['STOP']))

In [65]:
#df = df.withColumn('route', pyspark.sql.functions.concat(df['START'],df['STOP']))
df.show()

+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
|start_date|start_hour|start_minute|  end_date|end_hour|end_minute|month|year|CATEGORY|            START|           STOP|     MILES|        PURPOSE|duration|           speed|      day| day_time|               route|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
|2016-01-01|        21|          11|2016-01-01|      21|        17|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  8.207634| Meal/Entertain|       6|        82.07634|   Friday|  Evening|Fort Pierce-Fort ...|
|2016-01-02|         1|          25|2016-01-02|       1|        37|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|    8.0467| Meal/Entertain|      12|         40.2335| Saturday|    Night|Fort Pierce-Fort ...|
|2016-01-02|        20|          25|2016-01-02|      20|        38|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.724832|Errand/Supplies|      13|35.6530707692308| Saturday|  Evening|Fort Pierce-Fort ...|
|2016-01-05|        17|          31|2016-01-05|      17|        45|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.563898|        Meeting|      14|32.4167057142857|  Tuesday|Afternoon|Fort Pierce-Fort ...|
|2016-01-06|        14|          42|2016-01-06|      15|        49|  Jan|2016|Business|      Fort Pierce|West Palm Beach|102.514958| Customer Visit|      67|        91.80444|Wednesday|Afternoon|Fort Pierce-West ...|
|2016-01-06|        17|          15|2016-01-06|      17|        19|  Jan|2016|Business|  West Palm Beach|West Palm Beach|  6.920162| Meal/Entertain|       4|       103.80243|Wednesday|Afternoon|West Palm Beach-W...|
|2016-01-06|        17|          30|2016-01-06|      17|        35|  Jan|2016|Business|  West Palm Beach|     Palm Beach| 11.426314|        Meeting|       5|      137.115768|Wednesday|Afternoon|West Palm Beach-P...|
|2016-01-07|        13|          27|2016-01-07|      13|        33|  Jan|2016|Business|             Cary|           Cary|  1.287472|        Meeting|       6|        12.87472| Thursday|Afternoon|           Cary-Cary|
|2016-01-10|         8|           5|2016-01-10|       8|        25|  Jan|2016|Business|             Cary|    Morrisville| 13.357522|        Meeting|      20|       40.072566|   Sunday|  Morning|    Cary-Morrisville|
|2016-01-10|        12|          17|2016-01-10|      12|        44|  Jan|2016|Business|          Jamaica|       New York|  26.55411| Customer Visit|      27|59.0091333333333|   Sunday|  Morning|    Jamaica-New York|
|2016-01-10|        15|           8|2016-01-10|      15|        51|  Jan|2016|Business|         New York|         Queens| 17.380872|        Meeting|      43|24.2523795348837|   Sunday|Afternoon|     New York-Queens|
|2016-01-10|        18|          18|2016-01-10|      18|        53|  Jan|2016|Business|         Elmhurst|       New York|  12.07005|        Meeting|      35|20.6915142857143|   Sunday|Afternoon|   Elmhurst-New York|
|2016-01-10|        19|          12|2016-01-10|      19|        32|  Jan|2016|Business|          Midtown|    East Harlem|  9.977908|        Meeting|      20|       29.933724|   Sunday|  Evening| Midtown-East Harlem|
|2016-01-11|         8|          55|2016-01-11|       9|        21|  Jan|2016|Business|      East Harlem|          NoMad| 10.299776| Temporary Site|      26|23.7687138461538|   Monday|  Morning|   East Harlem-NoMad|
|2016-01-11|        11|          56|2016-01-11|      12|         3|  Jan|2016|Business|Flatiron District|        Midtown|  2.574944|Errand/Supplies|       7|22.0709485714286|   Monday|  Morning|Flatiron District...|
|2016-01-11|        13|          32|2016-01-11|      13|        46|  Jan|2016|Business|          Midtown|   Midtown East|  2.735878| Meal/Entertain|      14|11.7251914285714|   Monday|Afternoon|Midtown-Midtown East|
|2016-01-11|        14|          30|2016-01-11|      14|        43|  Jan|2016|Business|     Midtown East|        Midtown|  3.057746| Meal/Entertain|      13|14.1126738461538|   Monday|Afternoon|Midtown East-Midtown|
|2016-01-12|        12|          33|2016-01-12|      12|        49|  Jan|2016|Business|          Midtown|  Hudson Square|  3.057746| Meal/Entertain|      16|      11.4665475|  Tuesday|  Morning|Midtown-Hudson Sq...|
|2016-01-12|        12|          53|2016-01-12|      13|         9|  Jan|2016|Business|    Hudson Square|Lower Manhattan|   6.43736| Meal/Entertain|      16|         24.1401|  Tuesday|  Morning|Hudson Square-Low...|
|2016-01-12|        14|          42|2016-01-12|      14|        56|  Jan|2016|Business|  Lower Manhattan|  Hudson Square|  2.896812|Errand/Supplies|      14|12.4149085714286|  Tuesday|Afternoon|Lower Manhattan-H...|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
only showing top 20 rows

In [66]:
#filtered_df = df.where(df['START'] != 'Unknown Location')
#filtered_df.show()

+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
|start_date|start_hour|start_minute|  end_date|end_hour|end_minute|month|year|CATEGORY|            START|           STOP|     MILES|        PURPOSE|duration|           speed|      day| day_time|               route|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
|2016-01-01|        21|          11|2016-01-01|      21|        17|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  8.207634| Meal/Entertain|       6|        82.07634|   Friday|  Evening|Fort Pierce-Fort ...|
|2016-01-02|         1|          25|2016-01-02|       1|        37|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|    8.0467| Meal/Entertain|      12|         40.2335| Saturday|    Night|Fort Pierce-Fort ...|
|2016-01-02|        20|          25|2016-01-02|      20|        38|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.724832|Errand/Supplies|      13|35.6530707692308| Saturday|  Evening|Fort Pierce-Fort ...|
|2016-01-05|        17|          31|2016-01-05|      17|        45|  Jan|2016|Business|      Fort Pierce|    Fort Pierce|  7.563898|        Meeting|      14|32.4167057142857|  Tuesday|Afternoon|Fort Pierce-Fort ...|
|2016-01-06|        14|          42|2016-01-06|      15|        49|  Jan|2016|Business|      Fort Pierce|West Palm Beach|102.514958| Customer Visit|      67|        91.80444|Wednesday|Afternoon|Fort Pierce-West ...|
|2016-01-06|        17|          15|2016-01-06|      17|        19|  Jan|2016|Business|  West Palm Beach|West Palm Beach|  6.920162| Meal/Entertain|       4|       103.80243|Wednesday|Afternoon|West Palm Beach-W...|
|2016-01-06|        17|          30|2016-01-06|      17|        35|  Jan|2016|Business|  West Palm Beach|     Palm Beach| 11.426314|        Meeting|       5|      137.115768|Wednesday|Afternoon|West Palm Beach-P...|
|2016-01-07|        13|          27|2016-01-07|      13|        33|  Jan|2016|Business|             Cary|           Cary|  1.287472|        Meeting|       6|        12.87472| Thursday|Afternoon|           Cary-Cary|
|2016-01-10|         8|           5|2016-01-10|       8|        25|  Jan|2016|Business|             Cary|    Morrisville| 13.357522|        Meeting|      20|       40.072566|   Sunday|  Morning|    Cary-Morrisville|
|2016-01-10|        12|          17|2016-01-10|      12|        44|  Jan|2016|Business|          Jamaica|       New York|  26.55411| Customer Visit|      27|59.0091333333333|   Sunday|  Morning|    Jamaica-New York|
|2016-01-10|        15|           8|2016-01-10|      15|        51|  Jan|2016|Business|         New York|         Queens| 17.380872|        Meeting|      43|24.2523795348837|   Sunday|Afternoon|     New York-Queens|
|2016-01-10|        18|          18|2016-01-10|      18|        53|  Jan|2016|Business|         Elmhurst|       New York|  12.07005|        Meeting|      35|20.6915142857143|   Sunday|Afternoon|   Elmhurst-New York|
|2016-01-10|        19|          12|2016-01-10|      19|        32|  Jan|2016|Business|          Midtown|    East Harlem|  9.977908|        Meeting|      20|       29.933724|   Sunday|  Evening| Midtown-East Harlem|
|2016-01-11|         8|          55|2016-01-11|       9|        21|  Jan|2016|Business|      East Harlem|          NoMad| 10.299776| Temporary Site|      26|23.7687138461538|   Monday|  Morning|   East Harlem-NoMad|
|2016-01-11|        11|          56|2016-01-11|      12|         3|  Jan|2016|Business|Flatiron District|        Midtown|  2.574944|Errand/Supplies|       7|22.0709485714286|   Monday|  Morning|Flatiron District...|
|2016-01-11|        13|          32|2016-01-11|      13|        46|  Jan|2016|Business|          Midtown|   Midtown East|  2.735878| Meal/Entertain|      14|11.7251914285714|   Monday|Afternoon|Midtown-Midtown East|
|2016-01-11|        14|          30|2016-01-11|      14|        43|  Jan|2016|Business|     Midtown East|        Midtown|  3.057746| Meal/Entertain|      13|14.1126738461538|   Monday|Afternoon|Midtown East-Midtown|
|2016-01-12|        12|          33|2016-01-12|      12|        49|  Jan|2016|Business|          Midtown|  Hudson Square|  3.057746| Meal/Entertain|      16|      11.4665475|  Tuesday|  Morning|Midtown-Hudson Sq...|
|2016-01-12|        12|          53|2016-01-12|      13|         9|  Jan|2016|Business|    Hudson Square|Lower Manhattan|   6.43736| Meal/Entertain|      16|         24.1401|  Tuesday|  Morning|Hudson Square-Low...|
|2016-01-12|        14|          42|2016-01-12|      14|        56|  Jan|2016|Business|  Lower Manhattan|  Hudson Square|  2.896812|Errand/Supplies|      14|12.4149085714286|  Tuesday|Afternoon|Lower Manhattan-H...|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----------------+---------------+----------+---------------+--------+----------------+---------+---------+--------------------+
only showing top 20 rows

In [67]:
#df= filtered_df

In [90]:
route_counts = df.where(df['START'] != 'Unknown Location').groupBy('route').count()
route_counts.show(2000)

+--------------------+-----+
|               route|count|
+--------------------+-----+
|Meredith Townes-H...|    1|
|San Francisco-Pal...|    1|
| Berkeley-Menlo Park|    1|
|R?walpindi-Unknow...|    8|
|Edgehill Farms-Wh...|    6|
|  Katunayake-Gampaha|    1|
|         Cary-Durham|   36|
|Red River Distric...|    1|
|South Congress-No...|    1|
|   Coxville-The Drag|    1|
|Cary-Unknown Loca...|    1|
|   Orlando-Kissimmee|    7|
|Tribeca-Financial...|    1|
|Financial Distric...|    1|
|Heritage Pines-Wh...|    1|
|San Francisco-Ber...|    4|
|Lower Manhattan-H...|    1|
|Whitebridge-Savon...|    3|
|Central-College A...|    1|
|Berkeley-Mountain...|    1|
|Midtown-Midtown West|    1|
| Whitebridge-Preston|    3|
|Seaport-Gramercy-...|    1|
|   Berkeley-San Jose|    1|
|    Berkeley-Oakland|    3|
|         CBD-Bywater|    1|
|San Francisco-Oak...|    2|
| SOMISSPO-Tenderloin|    1|
|Kar?chi-Unknown L...|    7|
|Hudson Square-Low...|    1|
|Fairmont-Meredith...|    1|
|   Galveston-Houston|    1|
|Bryson City-Ashev...|    1|
|     Kenner-Metairie|    1|
|  Bryson City-Almond|    1|
|Midtown East-Midtown|    1|
|  Tanglewood-Parkway|    1|
|Islamabad-Unknown...|   28|
| Berkeley-El Cerrito|    1|
|R?walpindi-R?walp...|    2|
|   Parkwood-Parkwood|    1|
|   Agnew-Renaissance|    2|
|    Midtown-Downtown|    1|
|Whitebridge-Wayne...|    4|
|University Distri...|    1|
| Tenderloin-SOMISSPO|    1|
|       Weston-Weston|    2|
|Lexington Park at...|    1|
|  Latta-Jacksonville|    1|
| Berkeley-Emeryville|    5|
|Sharpstown-Briar ...|    1|
| Palo Alto-Sunnyvale|    1|
|New Orleans-Chalm...|    1|
|  Cary-Winston Salem|    1|
|Rawalpindi-Rawalp...|    1|
|   Houston-Galveston|    1|
|  Holly Springs-Cary|    2|
|    Jamaica-New York|    2|
|    Redmond-Bellevue|    1|
|Westpark Place-Ha...|    1|
|Whitebridge-Waver...|    5|
|Newark-San Francisco|    1|
|Heritage Pines-Ed...|    1|
|Whitebridge-Lake ...|    1|
|Emeryville-San Fr...|    1|
|     Newland-Newland|    1|
|Hell's Kitchen-Mi...|    1|
|    Colombo-Nugegoda|    1|
|  Emeryville-Oakland|    3|
|Metairie-New Orleans|    2|
|         Agnew-Agnew|    1|
|Rawalpindi-Islamabad|    1|
|Whitebridge-North...|    2|
|Briar Meadow-Midtown|    1|
|Banner Elk-Banner...|    5|
|North Berkeley Hi...|    1|
|           Apex-Cary|   13|
|The Drag-South Co...|    2|
|       NOMA-Downtown|    1|
|Fort Pierce-West ...|    1|
|Fort Pierce-Fort ...|    4|
|   Southside-Central|    2|
| Parkway-Whitebridge|    5|
|Old City-Parkway ...|    1|
|Kilarney Woods-Wh...|    1|
|  Kenner-New Orleans|    8|
|    Hazelwood-Weston|    1|
|Katunayaka-Unknow...|    1|
|Hazelwood-Whitebr...|    5|
| Lakeview-Storyville|    1|
|Mandeville-Mandev...|    1|
|Arlington Park at...|    1|
|Connecticut Avenu...|    1|
|         Durham-Cary|   25|
|Savon Height-Kila...|    1|
|   Central-Southside|    2|
|Farmington Woods-...|    1|
|   Capitol One-Mcvan|    1|
|       Kenner-Kenner|    2|
|  Downtown-Sunnyside|    1|
|      Rose Hill-Soho|    1|
|Karachi-Unknown L...|    2|
|Whitebridge-Herit...|    2|
|    Downtown-Midtown|    1|
|West Berkeley-Cen...|    2|
|           Cary-Apex|   14|
|  Sharpstown-Midtown|    3|
|   Newark-Menlo Park|    1|
|     Chalmette-Arabi|    1|
|  Marigny-Storyville|    1|
|Columbia Heights-...|    1|
|San Jose-Santa Clara|    1|
| Sunnyside-Ingleside|    1|
|  New Orleans-Kenner|    6|
|Whitebridge-Hazel...|    4|
|Oakland-Unknown L...|    1|
|Kilarney Woods-Ki...|    1|
|Arlington-Washington|    1|
|Huntington Woods-...|    1|
|          Cary-Latta|    1|
|     Central-Central|    3|
|    Boone-Banner Elk|    1|
|   Hayesville-Topton|    1|
|   Renaissance-Agnew|    2|
|       Cary-Wake Co.|    1|
|  Durham-Morrisville|    4|
|     Orlando-Orlando|    1|
|San Francisco-Eme...|    1|
| Covington-Covington|    5|
|College Avenue-Ce...|    1|
|South-Southwest B...|    1|
|   Downtown-The Drag|    2|
|Morrisville-Morri...|    5|
|West End-Northwes...|    1|
|Whitebridge-Chess...|    1|
|Krendle Woods-Whi...|    1|
|Wayne Ridge-White...|    4|
|Medical Centre-Tu...|    1|
|    Downtown-Gulfton|    1|
|Waverly Place-Mac...|    1|
|Eastgate-Walnut T...|    1|
|Chessington-White...|    1|
|Washington-Arlington|    1|
|Farmington Woods-...|    1|
|       Newland-Boone|    1|
|Fayetteville Stre...|    1|
|Whitebridge-Farmi...|    1|
|West Palm Beach-W...|    1|
|West Palm Beach-P...|    1|
| Midtown-East Harlem|    1|
| Islamabad-Islamabad|   25|
|The Drag-Conventi...|    2|
|Kalorama Triangle...|    1|
| Old City-Hog Island|    1|
|   Elmhurst-New York|    1|
| Mandeville-Metairie|    1|
|    Asheville-Mebane|    1|
|    Oakland-Berkeley|    2|
|    Cary-Chapel Hill|    1|
|Fayetteville Stre...|    1|
|    Cary-Wake Forest|    1|
|       Florence-Cary|    1|
|Northwoods-Tangle...|    1|
|Northwoods-Whiteb...|    1|
|     Colombo-Colombo|    6|
|Chessington-Chess...|    1|
|Whitebridge-Summe...|    1|
|Whitebridge-Arlin...|    1|
|Midtown-Washingto...|    1|
|Ingleside-Potrero...|    1|
|    Cary-Morrisville|   67|
|Islamabad-Noorpur...|    1|
|Stonewater-Lexing...|    1|
|Savon Height-Whit...|    2|
|       CBD-St Thomas|    1|
|Midtown-Hudson Sq...|    1|
|Daytona Beach-Jac...|    1|
|Central-West Berk...|    1|
|  Houston-Sugar Land|    1|
|Oakland-San Franc...|    2|
|Fayetteville Stre...|    1|
| Elk Park-Banner Elk|    1|
|  Topton-Bryson City|    1|
|Mountain View-Ber...|    1|
|Port Bolivar-Port...|    2|
|Downtown-Bay Farm...|    1|
|      South-Downtown|    1|
|Flatiron District...|    1|
|Nugegoda-Unknown ...|    1|
| San Jose-Emeryville|    1|
|New Orleans-Metairie|    2|
|  Banner Elk-Newland|    1|
|     Karachi-Karachi|    2|
|Southside-South B...|    1|
|          Agnew-Cory|    1|
| Preston-Whitebridge|    5|
|   Kissimmee-Orlando|    6|
|SOMISSPO-French Q...|    1|
|Congress Ave Dist...|    1|
|Santa Clara-Berkeley|    1|
|Whitebridge-Macgr...|    1|
| Raleigh-Morrisville|    5|
|West University-C...|    1|
|    Asheville-Topton|    1|
|Meredith Townes-L...|    2|
|Burtrose-Whitebridge|    1|
|       Central-South|    1|
|     Kar?chi-Kar?chi|   20|
|      Arabi-Metairie|    1|
|Noorpur Shahan-Un...|    2|
|           Cary-Cary|   53|
|New York-Long Isl...|    1|
|Long Island City-...|    1|
|Pontchartrain Bea...|    1|
|     Raleigh-Raleigh|    2|
|Galveston-Port Bo...|    1|
|Lahore-Unknown Lo...|    9|
|Kissimmee-Daytona...|    1|
|Eagan Park-Jamest...|    1|
|Whitebridge-Burtrose|    1|
|     Eagle Rock-Cary|    1|
|Jackson Heights-E...|    1|
|         Durham-Apex|    1|
|Rawalpindi-Unknow...|    3|
|Convention Center...|    1|
|  Midtown-Sharpstown|    4|
|Morrisville-Banne...|    1|
|South Congress-Th...|    3|
|Lake Reams-Lake R...|    2|
| Morrisville-Raleigh|    4|
|         Mebane-Cary|    1|
|    New York-Jamaica|    1|
| Banner Elk-Elk Park|    1|
| Menlo Park-Berkeley|    1|
|        Katy-Houston|    1|
|    Banner Elk-Boone|    1|
|        Raleigh-Cary|   21|
|Katunayaka-Katuna...|    1|
|  Cary-Fuquay-Varina|    1|
|Whitebridge-Tangl...|    3|
|  Sugar Land-Houston|    1|
|Pontchartrain Sho...|    2|
|     Apex-Eagle Rock|    1|
|  Northwoods-Preston|    1|
|Washington Avenue...|    1|
|   Topton-Hayesville|    1|
| Kissimmee-Kissimmee|    4|
|Downtown-West Ber...|    1|
|   Mcvan-Capitol One|    1|
|Tanglewood-Whiteb...|    2|
|West Berkeley-Nor...|    1|
|South Berkeley-So...|    1|
|  Apex-Holly Springs|    1|
|Waverly Place-Whi...|    3|
|Georgian Acres-Th...|    1|
|  Cary-Holly Springs|    1|
|Chapel Hill-Morri...|    1|
|Lower Garden Dist...|    1|
|Hazelwood-Lexingt...|    1|
|  Colombo-Katunayaka|    1|
|       Midtown-Alief|    1|
|        Cary-Raleigh|   23|
|K Street-Kalorama...|    2|
|Sand Lake Commons...|    1|
|Hudson Square-Hel...|    1|
|West University-S...|    1|
|    Wake Forest-Cary|    1|
|West Berkeley-Sou...|    1|
|    Gulfton-Downtown|    1|
|Savon Height-Parkway|    1|
|    Sunnyvale-Newark|    1|
|Edgehill Farms-Pr...|    1|
|    Chapel Hill-Cary|    1|
|         Austin-Katy|    1|
|Islamabad-R?walpindi|    2|
|South Congress-Ar...|    1|
|Noorpur Shahan-Is...|    3|
|Whitebridge-White...|    7|
|Couples Glen-Isle...|    1|
|East Austin-West ...|    1|
|Jamestown Court-J...|    1|
|CBD-Pontchartrain...|    1|
|       St Thomas-CBD|    1|
|Whitebridge-Stone...|    1|
|Kalorama Triangle...|    1|
|   East Harlem-NoMad|    1|
| West Berkeley-South|    1|
|       Lahore-Lahore|   27|
|   Gampaha-Ilukwatta|    1|
| Emeryville-Berkeley|    6|
|    Morrisville-Cary|   74|
|  Oakland-Emeryville|    2|
|Whitebridge-Westp...|   14|
|Summerwinds-White...|    1|
|Whitebridge-Kilda...|    1|
|          Boone-Cary|    1|
|Kalorama Triangle...|    1|
|R?walpindi-Islamabad|    1|
|Wake Co.-Morrisville|    1|
|Port Bolivar-Galv...|    1|
|     Seattle-Redmond|    1|
|Berkeley-San Fran...|    4|
|Midtown-Midtown East|    1|
|Townes at Everett...|    1|
| Whitebridge-Parkway|    3|
|Couples Glen-Vist...|    1|
|New Orleans-Covin...|    1|
|Whitebridge-Edgeh...|    8|
|Midtown-Greater G...|    1|
|Capitol One-Unive...|    1|
|     Metairie-Kenner|    2|
| El Cerrito-Berkeley|    1|
|Jacksonville-Ridg...|    1|
|     Houston-Houston|    3|
|North Austin-Coxv...|    1|
|Storyville-Faubou...|    1|
|Edgehill Farms-Bu...|    1|
|Huntington Woods-...|    2|
|        Soho-Tribeca|    1|
|CBD-Lower Garden ...|    1|
|  Storyville-Marigny|    1|
|Whitebridge-Willi...|    1|
|     Midtown-Midtown|    2|
|The Drag-North Au...|    1|
| Meredith-Cedar Hill|    1|
|The Drag-Congress...|    2|
|   Menlo Park-Newark|    1|
|Winston Salem-Ash...|    1|
|Sky Lake-Sand Lak...|    1|
|Covington-Mandeville|    1|
|Palo Alto-Menlo Park|    1|
|Southside-West Be...|    1|
|Downtown-Red Rive...|    1|
|Lexington Park at...|    1|
|           Apex-Apex|    2|
|Menlo Park-Palo Alto|    1|
|Preston-Westpark ...|    1|
|  Fuquay-Varina-Cary|    1|
|     New York-Queens|    1|
|East Elmhurst-New...|    1|
|  Tanglewood-Preston|    1|
|    Downtown-Central|    1|
|          Cory-Agnew|    1|
|Lake Wellingborou...|    1|
|Westpark Place-Wh...|   16|
|Bryson City-Bryso...|    3|
|Sharpstown-Sharps...|    1|
|New York-Queens C...|    1|
|  Almond-Bryson City|    1|
|Islamabad-Rawalpindi|    1|
+--------------------+-----+

In [91]:
route_counts.orderBy('count',ascending=False).show(10)

+--------------------+-----+
|               route|count|
+--------------------+-----+
|    Morrisville-Cary|   74|
|    Cary-Morrisville|   67|
|           Cary-Cary|   53|
|         Cary-Durham|   36|
|Islamabad-Unknown...|   28|
|       Lahore-Lahore|   27|
| Islamabad-Islamabad|   25|
|         Durham-Cary|   25|
|        Cary-Raleigh|   23|
|        Raleigh-Cary|   21|
+--------------------+-----+
only showing top 10 rows

##Q2 Analyze peak travel hours

In [72]:
#df = df.withColumn('peak_travel', concat(df['start_hour'], lit('-'), df['end_hour']))

In [92]:
df.groupBy('start_hour').count().orderBy('count',ascending=False).show(10)

+----------+-----+
|start_hour|count|
+----------+-----+
|        15|   98|
|        17|   95|
|        18|   94|
|        13|   94|
|        14|   89|
|        16|   88|
|        12|   77|
|        11|   72|
|        20|   71|
|        19|   68|
+----------+-----+
only showing top 10 rows

##Q3 find the longest business trips

In [101]:
df.where(df.CATEGORY== 'Business').orderBy('duration',ascending=False).show(1)

+----------+----------+------------+----------+--------+----------+-----+----+--------+-----+------------+----------+--------------+--------+----------------+------+---------+------------------+
|start_date|start_hour|start_minute|  end_date|end_hour|end_minute|month|year|CATEGORY|START|        STOP|     MILES|       PURPOSE|duration|           speed|   day| day_time|             route|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----+------------+----------+--------------+--------+----------------+------+---------+------------------+
|2016-03-25|        16|          52|2016-03-25|      22|        22|  Mar|2016|Business|Latta|Jacksonville|499.378202|Customer Visit|     330|90.7960367272727|Friday|Afternoon|Latta-Jacksonville|
+----------+----------+------------+----------+--------+----------+-----+----+--------+-----+------------+----------+--------------+--------+----------------+------+---------+------------------+
only showing top 1 row

##Q4 Find the avg speed bassed on daytime

DataFrame[day_time: string]

In [95]:
df = df.where(df.duration > 0)

In [96]:
from pyspark.sql.functions import avg

df.groupBy('day_time').agg(avg('speed').alias('avg_speed')).show()

+---------+------------------+
| day_time|         avg_speed|
+---------+------------------+
|  Evening|  43.4256712248582|
|  Morning| 47.72446648096086|
|Afternoon| 39.87152502771442|
|    Night|46.036096350678385|
+---------+------------------+

##Q5 Identify most common trip purpose

In [100]:
df.groupBy('PURPOSE').count().orderBy('count',ascending=False).show(1)

+-------+-----+
|PURPOSE|count|
+-------+-----+
|Meeting|  295|
+-------+-----+
only showing top 1 row

##Q6. Analyze travel pattern by the day of the week

In [102]:
df.groupBy('day').count().orderBy('count',ascending=False).show()

+---------+-----+
|      day|count|
+---------+-----+
|   Friday|  201|
|   Monday|  174|
|  Tuesday|  172|
| Thursday|  152|
|   Sunday|  147|
|Wednesday|  146|
| Saturday|  145|
+---------+-----+

##Q7. Identify most frequent start location with respect to daytime

Simplest way

In [127]:
ans = df.where(df.START != 'Unknown Location').groupBy('START','day_time').count().orderBy('count',ascending=False)

In [126]:
ans.where(ans.day_time == 'Morning').orderBy('count',ascending=False).show(1)
ans.where(ans.day_time == 'Night').orderBy('count',ascending=False).show(1)
ans.where(ans.day_time == 'Afternoon').orderBy('count',ascending=False).show(1)
ans.where(ans.day_time == 'Evening').orderBy('count',ascending=False).show(1)

+-----+--------+-----+
|START|day_time|count|
+-----+--------+-----+
| Cary| Morning|   62|
+-----+--------+-----+
only showing top 1 row

+-----------+--------+-----+
|      START|day_time|count|
+-----------+--------+-----+
|Morrisville|   Night|    8|
+-----------+--------+-----+
only showing top 1 row

+-----+---------+-----+
|START| day_time|count|
+-----+---------+-----+
| Cary|Afternoon|   96|
+-----+---------+-----+
only showing top 1 row

+-----+--------+-----+
|START|day_time|count|
+-----+--------+-----+
| Cary| Evening|   38|
+-----+--------+-----+
only showing top 1 row

One way

In [142]:
from pyspark.sql.functions import max
filtered_df= df.where(df['START']!= 'Unknown Location')
start_location= filtered_df.groupBy('day_time','START').count().orderBy('count', ascending=False)

from pyspark.sql import functions as F
from pyspark.sql.window import Window
window_spec = Window.partitionBy('day_time').orderBy(F.col('count').desc())
ranked_df = start_location.withColumn('rank', F.row_number().over(window_spec))
most_frequent_locations = ranked_df.filter(ranked_df['rank'] == 1).drop('rank')

most_frequent_locations.show()

+---------+-----------+-----+
| day_time|      START|count|
+---------+-----------+-----+
|Afternoon|       Cary|   96|
|  Evening|       Cary|   38|
|  Morning|       Cary|   62|
|    Night|Morrisville|    8|
+---------+-----------+-----+

Another way

In [175]:
d2 = df.where(df.START != 'Unknown Location').groupBy('START','day_time').count().orderBy('count',ascending=False)
Max_counts = d2.groupBy('day_time').agg(max('count').alias('Max_count'))

d2_alias = d2.alias('d2')
Max_counts_alias = Max_counts.alias('Max_counts')
result = d2.join(Max_counts,(d2['day_time'] == Max_counts['day_time']) & (d2['count'] == Max_counts['Max_count'])).select(d2_alias['day_time'], d2_alias['START'], d2_alias['count'])
result.show()

+---------+-----------+-----+
| day_time|      START|count|
+---------+-----------+-----+
|  Evening|       Cary|   38|
|  Morning|       Cary|   62|
|Afternoon|       Cary|   96|
|    Night|Morrisville|    8|
+---------+-----------+-----+

In [167]:
d2.show()
d2_alias.show()

+--------------+---------+-----+
|         START| day_time|count|
+--------------+---------+-----+
|          Cary|Afternoon|   96|
|          Cary|  Morning|   62|
|   Whitebridge|Afternoon|   39|
|          Cary|  Evening|   38|
|   Morrisville|  Evening|   36|
|     Islamabad|Afternoon|   34|
|   Morrisville|Afternoon|   30|
|       Raleigh|Afternoon|   19|
|   Whitebridge|  Morning|   17|
|        Durham|Afternoon|   17|
|     Islamabad|  Morning|   16|
|Westpark Place|Afternoon|   13|
|        Lahore|Afternoon|   13|
|       Kar?chi|Afternoon|   12|
|        Lahore|  Morning|   12|
|   Whitebridge|  Evening|   11|
|          Apex|Afternoon|   11|
|   Morrisville|  Morning|   10|
|        Lahore|  Evening|   10|
|       Kar?chi|  Morning|    8|
+--------------+---------+-----+
only showing top 20 rows

+--------------+---------+-----+
|         START| day_time|count|
+--------------+---------+-----+
|          Cary|Afternoon|   96|
|          Cary|  Morning|   62|
|   Whitebridge|Afternoon|   39|
|          Cary|  Evening|   38|
|   Morrisville|  Evening|   36|
|     Islamabad|Afternoon|   34|
|   Morrisville|Afternoon|   30|
|       Raleigh|Afternoon|   19|
|   Whitebridge|  Morning|   17|
|        Durham|Afternoon|   17|
|     Islamabad|  Morning|   16|
|Westpark Place|Afternoon|   13|
|        Lahore|Afternoon|   13|
|       Kar?chi|Afternoon|   12|
|        Lahore|  Morning|   12|
|   Whitebridge|  Evening|   11|
|          Apex|Afternoon|   11|
|   Morrisville|  Morning|   10|
|        Lahore|  Evening|   10|
|       Kar?chi|  Morning|    8|
+--------------+---------+-----+
only showing top 20 rows

##Q8. Identify shortest business route

In [178]:
d = df.where(df.CATEGORY == 'Business').orderBy('MILES',ascending=True).first()
df.where(df.MILES == d.MILES).show()

+----------+----------+------------+----------+--------+----------+-----+----+--------+----------+----------+-------+---------------+--------+-------+---------+---------+--------------------+
|start_date|start_hour|start_minute|  end_date|end_hour|end_minute|month|year|CATEGORY|     START|      STOP|  MILES|        PURPOSE|duration|  speed|      day| day_time|               route|
+----------+----------+------------+----------+--------+----------+-----+----+--------+----------+----------+-------+---------------+--------+-------+---------+---------+--------------------+
|2016-01-26|        17|          27|2016-01-26|      17|        29|  Jan|2016|Business|      Cary|      Cary|0.80467|Errand/Supplies|       2|24.1401|  Tuesday|Afternoon|           Cary-Cary|
|2016-02-17|        16|          38|2016-02-17|      16|        43|  Feb|2016|Business|Katunayaka|Katunayaka|0.80467|Errand/Supplies|       5|9.65604|Wednesday|Afternoon|Katunayaka-Katuna...|
|2016-06-08|        17|          16|2016-06-08|      17|        18| June|2016|Business|      Soho|   Tribeca|0.80467|Errand/Supplies|       2|24.1401|Wednesday|Afternoon|        Soho-Tribeca|
+----------+----------+------------+----------+--------+----------+-----+----+--------+----------+----------+-------+---------------+--------+-------+---------+---------+--------------------+

In [184]:
d.MILES

0.80467

In [183]:
df.select(df[0]).show()

+----------+
|start_date|
+----------+
|2016-01-01|
|2016-01-02|
|2016-01-02|
|2016-01-05|
|2016-01-06|
|2016-01-06|
|2016-01-06|
|2016-01-07|
|2016-01-10|
|2016-01-10|
|2016-01-10|
|2016-01-10|
|2016-01-10|
|2016-01-11|
|2016-01-11|
|2016-01-11|
|2016-01-11|
|2016-01-12|
|2016-01-12|
|2016-01-12|
+----------+
only showing top 20 rows