In [31]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [32]:
import pyspark

In [33]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [34]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [35]:
!pip install --upgrade kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: certifi>=2023.7.22 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2025.1.31)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from kaggle) (2.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.11/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kaggle) (3.10)

In [36]:
!mkdir -p ~/.kaggle

In [37]:
!cp "/content/drive/My Drive/kaggle.json" /root/.kaggle/kaggle.json

In [38]:
!chmod 600 /root/.kaggle/kaggle.json

In [39]:
!kaggle datasets download -d uciml/autompg-dataset --force

Dataset URL: https://www.kaggle.com/datasets/uciml/autompg-dataset
License(s): CC0-1.0
Downloading autompg-dataset.zip to /content
  0% 0.00/6.31k [00:00<?, ?B/s]
100% 6.31k/6.31k [00:00<00:00, 4.64MB/s]

In [40]:
import os
folder_path = "/content/drive/My Drive/data"
os.makedirs(folder_path, exist_ok=True)

In [41]:
!unzip autompg-dataset.zip -d "/content/drive/My Drive/data"

Archive:  autompg-dataset.zip
replace /content/drive/My Drive/data/auto-mpg.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/drive/My Drive/data/auto-mpg.csv

In [69]:
import os
import warnings
warnings.filterwarnings('ignore')
from pyspark.sql import SparkSession
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType
from pyspark.sql.functions import split, count, when, isnan, col, regexp_replace
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler
from pyspark.ml.linalg import Vectors

for dirname, _, filenames in os.walk('/kaggle/input'):
  for filename in filenames:
    print(os.path.join(dirname, filename))

In [70]:
spark = SparkSession.builder.appName('First Session').getOrCreate()

print(f"Spark Version ({format(spark.version)})")

Spark Version (3.5.5)

In [112]:
file_path = '/content/drive/My Drive/data/auto-mpg.csv'
df = spark.read.csv(file_path, header=True, inferSchema=True,nanValue='?')
df.show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [72]:
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'double'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [113]:
def check_missing(dataframe):
  return dataframe.select([count(when(isnan(col(c)) | col(c).isNull(), c)).alias(c) for c in dataframe.columns]).show()

check_missing(df)

+---+---------+------------+----------+------+------------+----------+------+--------+
|mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|car name|
+---+---------+------------+----------+------+------------+----------+------+--------+
|  0|        0|           0|         6|     0|           0|         0|     0|       0|
+---+---------+------------+----------+------+------------+----------+------+--------+

In [114]:
df.dropna().show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc ambassador dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge challenger se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth 'cuda 340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet monte c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick estate wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota corona mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [104]:
#col_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
#for col in col_names:
#  cols=col.split(sep=" ")
#  colums=''
#  for c in cols:
#    colums += c + "_"
#  print(colums)
#df = df.withColumnRenamed(col, colums)
#df.show()

df = df.withColumnRenamed('car name', regexp_replace('car name', ' ', '_'))
df.show()
#cols

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|     130.0|  3504|        12.0|        70|     1|chevrolet_chevell...|
|15.0|        8|       350.0|     165.0|  3693|        11.5|        70|     1|   buick_skylark_320|
|18.0|        8|       318.0|     150.0|  3436|        11.0|        70|     1|  plymouth_satellite|
|16.0|        8|       304.0|     150.0|  3433|        12.0|        70|     1|       amc_rebel_sst|
|17.0|        8|       302.0|     140.0|  3449|        10.5|        70|     1|         ford_torino|
|15.0|        8|       429.0|     198.0|  4341|        10.0|        70|     1|    ford_galaxie_500|
|14.0|        8|       454.0|     220.0|  4354|         9.0|        70|     1|    chevrolet_impala|
|14.0|        8|       440.0|     215.0|  4312|         8.5|        70|     1|   plymouth_fury_iii|
|14.0|        8|       455.0|     225.0|  4425|        10.0|        70|     1|    pontiac_catalina|
|15.0|        8|       390.0|     190.0|  3850|         8.5|        70|     1|  amc_ambassador_dpl|
|15.0|        8|       383.0|     170.0|  3563|        10.0|        70|     1| dodge_challenger_se|
|14.0|        8|       340.0|     160.0|  3609|         8.0|        70|     1|  plymouth_'cuda_340|
|15.0|        8|       400.0|     150.0|  3761|         9.5|        70|     1|chevrolet_monte_c...|
|14.0|        8|       455.0|     225.0|  3086|        10.0|        70|     1|buick_estate_wago...|
|24.0|        4|       113.0|      95.0|  2372|        15.0|        70|     3|toyota_corona_mar...|
|22.0|        6|       198.0|      95.0|  2833|        15.5|        70|     1|     plymouth_duster|
|18.0|        6|       199.0|      97.0|  2774|        15.5|        70|     1|          amc_hornet|
|21.0|        6|       200.0|      85.0|  2587|        16.0|        70|     1|       ford_maverick|
|27.0|        4|        97.0|      88.0|  2130|        14.5|        70|     3|        datsun_pl510|
|26.0|        4|        97.0|      46.0|  1835|        20.5|        70|     2|volkswagen_1131_d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [108]:
regexp_replace(col(df), ' ', '_')

AttributeError: 'DataFrame' object has no attribute '_get_object_id'

In [115]:
df = df.withColumn('horsepower', col('horsepower').cast('int'))
df.dtypes

[('mpg', 'double'),
 ('cylinders', 'int'),
 ('displacement', 'double'),
 ('horsepower', 'int'),
 ('weight', 'int'),
 ('acceleration', 'double'),
 ('model year', 'int'),
 ('origin', 'int'),
 ('car name', 'string')]

In [116]:
numeric_cols= [c for c,t in df.dtypes if t.startswith('string')==False]
df[numeric_cols].summary().show()

+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|summary|               mpg|         cylinders|      displacement|        horsepower|           weight|      acceleration|        model year|            origin|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+
|  count|               398|               398|               398|               398|              398|               398|               398|               398|
|   mean|23.514572864321615| 5.454773869346734|193.42587939698493|102.89447236180905|2970.424623115578|15.568090452261291| 76.01005025125629|1.5728643216080402|
| stddev| 7.815984312565783|1.7010042445332123|104.26983817119587| 40.26954421185716|846.8417741973268| 2.757688929812676|3.6976266467325862|0.8020548777266148|
|    min|               9.0|                 3|              68.0|                 0|             1613|               8.0|                70|                 1|
|    25%|              17.5|                 4|             104.0|                75|             2223|              13.8|                73|                 1|
|    50%|              23.0|                 4|             146.0|                92|             2800|              15.5|                76|                 1|
|    75%|              29.0|                 8|             262.0|               125|             3609|              17.2|                79|                 2|
|    max|              46.6|                 8|             455.0|               230|             5140|              24.8|                82|                 3|
+-------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+

In [117]:
df.printSchema()

root
 |-- mpg: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: double (nullable = true)
 |-- horsepower: integer (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- model year: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- car name: string (nullable = true)

In [118]:
df.filter(df['acceleration']>15).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|        98.0|         0|  2046|        19.0|        71|     1|          ford pinto|
|16.0|        6|       225.0|       105|  3439|        15.5|        71|     1|plymouth satellit...|
|17.0|        6|       250.0|       100|  3329|        15.5|        71|     1|chevrolet chevell...|
|19.0|        6|       250.0|        88|  3302|        15.5|        71|     1|     ford torino 500|
|18.0|        6|       232.0|       100|  3288|        15.5|        71|     1|         amc matador|
|22.0|        4|       140.0|        72|  2408|        19.0|        71|     1| chevrolet vega (sw)|
|30.0|        4|        79.0|        70|  2074|        19.5|        71|     2|         peugeot 304|
|31.0|        4|        71.0|        65|  1773|        19.0|        71|     3| toyota corolla 1200|
|35.0|        4|        72.0|        69|  1613|        18.0|        71|     3|         datsun 1200|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        91.0|        70|  1955|        20.5|        71|     1|    plymouth cricket|
|24.0|        4|       113.0|        95|  2278|        15.5|        72|     3|toyota corona har...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 20 rows

In [119]:
df.filter(df['mpg']>23).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
|25.0|        4|       110.0|        87|  2672|        17.5|        70|     2|         peugeot 504|
|24.0|        4|       107.0|        90|  2430|        14.5|        70|     2|         audi 100 ls|
|25.0|        4|       104.0|        95|  2375|        17.5|        70|     2|            saab 99e|
|26.0|        4|       121.0|       113|  2234|        12.5|        70|     2|            bmw 2002|
|27.0|        4|        97.0|        88|  2130|        14.5|        71|     3|        datsun pl510|
|28.0|        4|       140.0|        90|  2264|        15.5|        71|     1| chevrolet vega 2300|
|25.0|        4|       113.0|        95|  2228|        14.0|        71|     3|       toyota corona|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [120]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [121]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [ ]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [ ]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort('mpg').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
| 9.0|        8|       304.0|       193|  4732|        18.5|        70|     1|            hi 1200d|
|10.0|        8|       360.0|       215|  4615|        14.0|        70|     1|           ford f250|
|10.0|        8|       307.0|       200|  4376|        15.0|        70|     1|           chevy c20|
|11.0|        8|       318.0|       210|  4382|        13.5|        70|     1|          dodge d200|
|11.0|        8|       429.0|       208|  4633|        11.0|        72|     1|     mercury marquis|
|11.0|        8|       400.0|       150|  4997|        14.0|        73|     1|    chevrolet impala|
|11.0|        8|       350.0|       180|  3664|        11.0|        73|     1|    oldsmobile omega|
|12.0|        8|       383.0|       180|  4955|        11.5|        71|     1|   dodge monaco (sw)|
|12.0|        8|       350.0|       160|  4456|        13.5|        72|     1|oldsmobile delta ...|
|12.0|        8|       429.0|       198|  4952|        11.5|        73|     1|mercury marquis b...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [122]:
df.filter((col('weight')>2000) & (col('horsepower')>80)).sort(col('mpg').desc()).show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|38.0|        6|       262.0|        85|  3015|        17.0|        82|     1|oldsmobile cutlas...|
|37.0|        4|       119.0|        92|  2434|        15.0|        80|     3|datsun 510 hatchback|
|36.0|        4|       135.0|        84|  2370|        13.0|        82|     1|   dodge charger 2.2|
|36.0|        4|       120.0|        88|  2160|        14.5|        82|     3|    nissan stanza xe|
|35.0|        4|       122.0|        88|  2500|        15.1|        80|     2|   triumph tr7 coupe|
|34.0|        4|       112.0|        88|  2395|        18.0|        82|     1|chevrolet cavalie...|
|33.5|        4|        98.0|        83|  2075|        15.9|        77|     1|      dodge colt m/m|
|33.5|        4|       151.0|        90|  2556|        13.2|        79|     1|     pontiac phoenix|
|32.9|        4|       119.0|       100|  2615|        14.8|        81|     3|        datsun 200sx|
|32.7|        6|       168.0|       132|  2910|        11.4|        80|     3|       datsun 280-zx|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [80]:
df.sort('model year').show(10)

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
only showing top 10 rows

In [81]:
df.filter(col("car name").contains("volkswagen")).orderBy(['model year','horsepower'],ascending=[False,False]).show()

+----+---------+------------+----------+------+------------+----------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|
+----+---------+------------+----------+------+------------+----------+------+--------------------+
|36.0|        4|       105.0|        74|  1980|        15.3|        82|     2| volkswagen rabbit l|
|33.0|        4|       105.0|        74|  2190|        14.2|        81|     2|    volkswagen jetta|
|31.5|        4|        89.0|        71|  1990|        14.9|        78|     2| volkswagen scirocco|
|43.1|        4|        90.0|        48|  1985|        21.5|        78|     2|volkswagen rabbit...|
|29.0|        4|        97.0|        78|  1940|        14.5|        77|     2|volkswagen rabbit...|
|30.5|        4|        97.0|        78|  2190|        14.1|        77|     2|   volkswagen dasher|
|29.5|        4|        97.0|        71|  1825|        12.2|        76|     2|   volkswagen rabbit|
|25.0|        4|        90.0|        71|  2223|        16.5|        75|     2|   volkswagen dasher|
|29.0|        4|        90.0|        70|  1937|        14.0|        75|     2|   volkswagen rabbit|
|26.0|        4|        79.0|        67|  1963|        15.5|        74|     2|   volkswagen dasher|
|26.0|        4|        97.0|        46|  1950|        21.0|        73|     2|volkswagen super ...|
|22.0|        4|       121.0|        76|  2511|        18.0|        72|     2| volkswagen 411 (sw)|
|23.0|        4|        97.0|        54|  2254|        23.5|        72|     2|   volkswagen type 3|
|27.0|        4|        97.0|        60|  1834|        19.0|        71|     2|volkswagen model 111|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+----------+------+--------------------+

In [125]:
df =df.withColumn('brand',split(col('car name'),' ').getItem(0))

auto_misspelled = {'chevroelt':'chevrolet',
                   'chevy':'chevrolet',
                   'vw':'volkswagan',
                   'volkswagen':'volkswagan',
                   'hi':'harvester',
                   'maxda':'mazda',
                   'mercedes-benz':'mercedes'}

for key in auto_misspelled.keys():
  df = df.withColumn('brand', regexp_replace('brand', key, auto_misspelled[key]))
df.show(20)

+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model year|origin|            car name|     brand|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
|18.0|        8|       307.0|       130|  3504|        12.0|        70|     1|chevrolet chevell...| chevrolet|
|15.0|        8|       350.0|       165|  3693|        11.5|        70|     1|   buick skylark 320|     buick|
|18.0|        8|       318.0|       150|  3436|        11.0|        70|     1|  plymouth satellite|  plymouth|
|16.0|        8|       304.0|       150|  3433|        12.0|        70|     1|       amc rebel sst|       amc|
|17.0|        8|       302.0|       140|  3449|        10.5|        70|     1|         ford torino|      ford|
|15.0|        8|       429.0|       198|  4341|        10.0|        70|     1|    ford galaxie 500|      ford|
|14.0|        8|       454.0|       220|  4354|         9.0|        70|     1|    chevrolet impala| chevrolet|
|14.0|        8|       440.0|       215|  4312|         8.5|        70|     1|   plymouth fury iii|  plymouth|
|14.0|        8|       455.0|       225|  4425|        10.0|        70|     1|    pontiac catalina|   pontiac|
|15.0|        8|       390.0|       190|  3850|         8.5|        70|     1|  amc ambassador dpl|       amc|
|15.0|        8|       383.0|       170|  3563|        10.0|        70|     1| dodge challenger se|     dodge|
|14.0|        8|       340.0|       160|  3609|         8.0|        70|     1|  plymouth 'cuda 340|  plymouth|
|15.0|        8|       400.0|       150|  3761|         9.5|        70|     1|chevrolet monte c...| chevrolet|
|14.0|        8|       455.0|       225|  3086|        10.0|        70|     1|buick estate wago...|     buick|
|24.0|        4|       113.0|        95|  2372|        15.0|        70|     3|toyota corona mar...|    toyota|
|22.0|        6|       198.0|        95|  2833|        15.5|        70|     1|     plymouth duster|  plymouth|
|18.0|        6|       199.0|        97|  2774|        15.5|        70|     1|          amc hornet|       amc|
|21.0|        6|       200.0|        85|  2587|        16.0|        70|     1|       ford maverick|      ford|
|27.0|        4|        97.0|        88|  2130|        14.5|        70|     3|        datsun pl510|    datsun|
|26.0|        4|        97.0|        46|  1835|        20.5|        70|     2|volkswagen 1131 d...|volkswagan|
+----+---------+------------+----------+------+------------+----------+------+--------------------+----------+
only showing top 20 rows

In [83]:
df.groupBy('brand').agg({'mpg':'max'}).show(10)

+----------+--------+
|     brand|max(mpg)|
+----------+--------+
|volkswagan|    44.3|
|     buick|    30.0|
|   pontiac|    33.5|
|  mercedes|    30.0|
|    toyota|    39.1|
|      saab|    25.0|
|       amc|    27.4|
|   peugeot|    30.0|
|  chrysler|    26.0|
|  plymouth|    39.0|
+----------+--------+
only showing top 10 rows

In [84]:
df.groupBy('car name').agg({'acceleration':'mean'}).show(10)

+--------------------+-----------------+
|            car name|avg(acceleration)|
+--------------------+-----------------+
|         audi 100 ls|             14.5|
|pontiac sunbird c...|             16.0|
|       dodge rampage|             11.6|
|    chevrolet malibu|             15.6|
|chevrolet monte c...|             13.0|
|    ford thunderbird|             14.5|
|         volvo 244dl|             14.5|
|    maxda glc deluxe|             15.2|
|        datsun 200sx|             14.8|
|buick estate wago...|            12.45|
+--------------------+-----------------+
only showing top 10 rows